In [ ]:
import os
import sys

## Add convida lib and convida server lib to path
convida_lib_path = os.path.dirname(os.getcwd())
lib = os.path.join(convida_lib_path,'lib')
sys.path.append(lib)

for path in sys.path:
    print(path)

In [2]:
from convida_server import convida_server
from convida import COnVIDa
from regions import Regions
from datatype import DataType
import pandas as pd

## Testing

In [3]:
convida_server.init_log()
convida_server.load_data()
print(convida_server.get_min_date())
print(convida_server.get_max_date())

2016-01-01
2020-06-04

### Temporal requests

In [4]:
print('Testing temporal requests...')

all_regions = Regions.get_regions('ES')

datasources = COnVIDa.get_items_by_datasource(DataType.TEMPORAL, language='EN')
all_data_items = []
for data_items in datasources.values():
    all_data_items += data_items
    
start_date = pd.to_datetime('2020-01-01', format='%Y-%m-%d')
print('START DATE: ', start_date)
end_date = pd.to_datetime('2020-05-13', format='%Y-%m-%d')
print('END DATE: ', end_date)

Testing temporal requests...
START DATE:  2020-01-01 00:00:00
END DATE:  2020-05-13 00:00:00

In [5]:
data = convida_server.get_data_items(data_items=[all_data_items[0]],
                              regions=[all_regions[0]],
                              start_date=start_date,
                              end_date=end_date,language='EN')
display(data.head(2))
display(data.tail(10))

Region     Andalucía
Item        Rainfall
2020-01-01  0.002632
2020-01-02  0.027027

Region     Andalucía
Item        Rainfall
2020-05-04  0.008571
2020-05-05  0.012121
2020-05-06  0.000000
2020-05-07  0.003125
2020-05-08  0.002778
2020-05-09  4.194286
2020-05-10  4.737143
2020-05-11  7.055556
2020-05-12  9.854545
2020-05-13  6.805882

In [6]:
data = convida_server.get_data_items(data_items=all_data_items,
                              regions=[all_regions[0]],
                              start_date=start_date,
                              end_date=end_date,
                                    language='EN')
display(data.head(2))
display(data.tail(10))

Region     Andalucía                                                 \
Item       Recovered    Altitude Cases PCR confirmed Test confirmed
2020-01-01       NaN  300.615385   NaN           NaN            NaN
2020-01-02       NaN  300.615385   NaN           NaN            NaN

Region                                                       \
Item       Expected deaths Expected deaths (1st percentile)
2020-01-01           219.5                           182.76
2020-01-02           223.0                           182.76

Region                                                        \
Item       Expected deaths (99th percentile) Observed deaths
2020-01-01                            315.17           175.0
2020-01-02                            311.03           243.0

Region                                    ...              \
Item       Observed deaths (lower bound)  ... Residential
2020-01-01                         175.0  ...         NaN
2020-01-02                         243.0  ...         NaN

Region                                                          \
Item       Retail and recreation Isolation Maximum temperature
2020-01-01                   NaN  7.233333           17.527778
2020-01-02                   NaN  6.521429           16.327027

Region                                                                \
Item       Mean temperature Minimum temperature Transit stations ICU
2020-01-01        11.336111            5.150000              NaN NaN
2020-01-02        10.727027            5.118919              NaN NaN

Region
Item       Wind speed Workplace
2020-01-01   1.528571       NaN
2020-01-02   1.547222       NaN

[2 rows x 31 columns]

Region     Andalucía                                                    \
Item       Recovered    Altitude    Cases PCR confirmed Test confirmed
2020-05-04    7021.0  295.810811  14311.0       12156.0         2155.0
2020-05-05    7230.0  282.222222  14351.0       12167.0         2184.0
2020-05-06    7679.0  295.810811  14593.0       12190.0         2403.0
2020-05-07    8076.0  295.810811  14824.0       12222.0         2602.0
2020-05-08    8435.0  295.810811  15002.0       12239.0         2763.0
2020-05-09    8779.0  295.810811  15180.0       12250.0         2930.0
2020-05-10    9020.0  295.810811  15355.0       12267.0         3088.0
2020-05-11    9205.0  295.810811  15422.0       12285.0         3137.0
2020-05-12    9297.0  303.944444  15522.0       12293.0         3229.0
2020-05-13    9481.0  311.714286  15629.0       12317.0         3312.0

Region                                                       \
Item       Expected deaths Expected deaths (1st percentile)
2020-05-04           184.5                           155.14
2020-05-05           187.0                           156.52
2020-05-06           188.0                           152.69
2020-05-07           187.5                           152.69
2020-05-08           188.0                           152.69
2020-05-09           184.5                           152.69
2020-05-10           186.5                           152.69
2020-05-11           188.0                           148.59
2020-05-12           184.0                           148.59
2020-05-13           183.5                           150.66

Region                                                        \
Item       Expected deaths (99th percentile) Observed deaths
2020-05-04                            213.93           174.0
2020-05-05                            215.31           198.0
2020-05-06                            216.62           168.0
2020-05-07                            216.62           198.0
2020-05-08                            215.93           213.0
2020-05-09                            217.31           171.0
2020-05-10                            217.31           156.0
2020-05-11                            219.24           162.0
2020-05-12                            219.24           193.0
2020-05-13                            218.55           190.0

Region                                    ...              \
Item       Observed deaths (lower bound)  ... Residential
2020-05-04                    174.000000  ...        21.0
2020-05-05                    198.000000  ...        20.0
2020-05-06                    168.000000  ...        21.0
2020-05-07                    196.721604  ...        21.0
2020-05-08                    212.672121  ...        25.0
2020-05-09                    170.673198  ...        20.0
2020-05-10                    155.658577  ...        18.0
2020-05-11                    161.665064  ...        17.0
2020-05-12                    192.617710  ...        19.0
2020-05-13                    189.648968  ...        19.0

Region                                                           \
Item       Retail and recreation  Isolation Maximum temperature
2020-05-04                 -74.0  10.123077           29.067568
2020-05-05                 -74.0  10.463636           26.052778
2020-05-06                 -75.0  10.876923           27.825000
2020-05-07                 -75.0   7.672727           27.288889
2020-05-08                 -77.0  11.208333           25.748649
2020-05-09                 -83.0   6.830769           22.902703
2020-05-10                 -87.0   5.407692           20.019444
2020-05-11                 -64.0   6.223077           21.718919
2020-05-12                 -69.0   3.300000           18.469444
2020-05-13                 -68.0   6.075000           20.834286

Region                                                                   \
Item       Mean temperature Minimum temperature Transit stations    ICU
2020-05-04        22.483784           15.902703            -64.0  738.0
2020-05-05        20.194444           14.325000            -63.0  738.0
2020-05-06        20.633333           13.427778            -64.0  740.0
2020-05-07        21.791667           16.300000            -65.0  742.0
2020-05-08        20.232432           14.721622            -68.0  742.0
2020-05-09        18.429730           13.972973            -70.0  745.0
2020-05-10        16.402778           12.783333            -77.0  745.0
2020-05-11        17.410811           13.113514            -57.0  745.0
2020-05-12        14.994444           11.538889            -63.0  745.0
2020-05-13        15.751429           10.677143            -62.0  750.0

Region
Item       Wind speed Workplace
2020-05-04   4.147222     -57.0
2020-05-05   2.620588     -57.0
2020-05-06   2.327778     -56.0
2020-05-07   3.771429     -57.0
2020-05-08   3.388889     -55.0
2020-05-09   3.888889     -45.0
2020-05-10   4.660000     -49.0
2020-05-11   4.405556     -49.0
2020-05-12   3.077143     -51.0
2020-05-13   2.900000     -50.0

[10 rows x 31 columns]

In [7]:
data = convida_server.get_data_items(data_items=[all_data_items[0]],
                              regions=all_regions,
                              start_date=start_date,
                              end_date=end_date,
                              language='EN')
display(data.head(2))
display(data.tail(10))

Region,Andalucía,Aragón,Asturias,Baleares,C. Valenciana,Canarias,Cantabria,Castilla La Mancha,Castilla y León,Cataluña,Ceuta,Extremadura,Galicia,La Rioja,Madrid,Melilla,Murcia,Navarra,País Vasco
Item,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall
2020-01-01,0.002632,0.0,0.0,0.0,0.026667,0.0,0.00,0.025000,0.000000,0.000000,0.0,0.054545,0.009091,0.0,0.016667,0.0,0.0,0.0,0.000000
2020-01-02,0.027027,0.0,0.0,0.0,0.013333,0.0,0.02,0.068421,0.003704,0.005882,0.0,0.018182,1.033333,0.0,0.000000,0.0,0.0,0.0,0.009091

Region,Andalucía,Aragón,Asturias,Baleares,C. Valenciana,Canarias,Cantabria,Castilla La Mancha,Castilla y León,Cataluña,Ceuta,Extremadura,Galicia,La Rioja,Madrid,Melilla,Murcia,Navarra,País Vasco
Item,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall,Rainfall
2020-05-04,0.008571,0.066667,2.066667,0.00,0.000000,0.005882,0.540000,0.011765,0.410000,0.000000,0.0,0.000000,4.492857,0.6,0.000000,0.0,0.000000,0.35,2.009091
2020-05-05,0.012121,0.000000,0.028571,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.378571,0.0,0.000000,0.0,0.000000,0.00,0.000000
2020-05-06,0.000000,0.000000,0.000000,0.00,0.000000,0.031250,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.507143,0.0,0.000000,0.0,0.000000,0.00,0.000000
2020-05-07,0.003125,0.000000,6.122222,0.00,0.000000,0.000000,9.642857,0.000000,5.945455,0.000000,0.0,0.000000,1.013333,0.0,0.741667,0.0,0.000000,0.00,0.330000
2020-05-08,0.002778,1.433333,12.833333,0.00,0.030769,0.000000,6.150000,0.352381,3.347826,0.000000,0.0,0.000000,2.206667,9.0,0.000000,0.0,0.000000,3.32,9.936364
2020-05-09,4.194286,5.516667,23.255556,8.85,5.280000,0.011765,5.033333,2.680952,3.580000,2.638462,2.0,6.409091,5.546667,NaN,2.258333,0.8,0.866667,0.52,31.409091
2020-05-10,4.737143,13.125000,5.322222,5.16,2.580000,0.000000,3.800000,2.478947,2.268182,19.269231,4.6,9.372727,0.080000,NaN,0.084615,0.0,0.000000,15.04,26.518182
2020-05-11,7.055556,0.809091,5.842857,0.02,0.033333,0.218750,1.814286,2.268421,1.716667,0.246154,25.2,4.163636,1.207143,0.0,2.963636,0.0,0.000000,2.06,7.218182
2020-05-12,9.854545,10.641667,2.200000,0.07,3.121429,0.037500,1.128571,15.919048,9.704000,5.369231,2.2,10.327273,5.921429,6.1,15.238462,0.2,2.777778,28.30,10.445455
2020-05-13,6.805882,0.391667,0.725000,0.52,7.486667,0.000000,1.116667,8.050000,2.354167,0.075000,27.6,7.318182,4.983333,0.0,5.176923,23.8,8.790000,0.30,1.600000

In [8]:
print('Testing temporal requests...')

all_regions = Regions.get_regions('ES')

datasources = COnVIDa.get_items_by_datasource(DataType.TEMPORAL, language='ES')
all_data_items = []
for data_items in datasources.values():
    all_data_items += data_items
    
start_date = pd.to_datetime('2020-01-01', format='%Y-%m-%d')
print('START DATE: ', start_date)
end_date = pd.to_datetime('2020-05-13', format='%Y-%m-%d')
print('END DATE: ', end_date)

Testing temporal requests...
START DATE:  2020-01-01 00:00:00
END DATE:  2020-05-13 00:00:00

In [9]:
data = convida_server.get_data_items(data_items=all_data_items,
                              regions=all_regions,
                              start_date=start_date,
                              end_date=end_date)
display(data.head(2))
display(data.tail(10))

Region     Andalucía                                                     \
Item           Altas     Altitud Casos Confirmados PCR Confirmados test
2020-01-01       NaN  300.615385   NaN             NaN              NaN
2020-01-02       NaN  300.615385   NaN             NaN              NaN

Region                                                                \
Item       Defunciones esperadas Defunciones esperadas (percentil 1)
2020-01-01                 219.5                              182.76
2020-01-02                 223.0                              182.76

Region                                                                  \
Item       Defunciones esperadas (percentil 99) Defunciones observadas
2020-01-01                               315.17                  175.0
2020-01-02                               311.03                  243.0

Region                                               ...  País Vasco  \
Item       Defunciones observadas (límite inferior)  ... Residencial
2020-01-01                                    175.0  ...         NaN
2020-01-02                                    243.0  ...         NaN

Region                                                                    \
Item       Venta minorista, ocio y cultura Insolación Temperatura máxima
2020-01-01                             NaN   3.200000          11.366667
2020-01-02                             NaN   3.366667          12.375000

Region                                                                  \
Item       Temperatura media Temperatura mínima Transporte público UCI
2020-01-01          7.441667           3.541667                NaN NaN
2020-01-02          7.183333           1.975000                NaN NaN

Region
Item       Velocidad viento Lugar de trabajo
2020-01-01         1.375000              NaN
2020-01-02         2.716667              NaN

[2 rows x 583 columns]

Region     Andalucía                                                        \
Item           Altas     Altitud    Casos Confirmados PCR Confirmados test
2020-05-04    7021.0  295.810811  14311.0         12156.0           2155.0
2020-05-05    7230.0  282.222222  14351.0         12167.0           2184.0
2020-05-06    7679.0  295.810811  14593.0         12190.0           2403.0
2020-05-07    8076.0  295.810811  14824.0         12222.0           2602.0
2020-05-08    8435.0  295.810811  15002.0         12239.0           2763.0
2020-05-09    8779.0  295.810811  15180.0         12250.0           2930.0
2020-05-10    9020.0  295.810811  15355.0         12267.0           3088.0
2020-05-11    9205.0  295.810811  15422.0         12285.0           3137.0
2020-05-12    9297.0  303.944444  15522.0         12293.0           3229.0
2020-05-13    9481.0  311.714286  15629.0         12317.0           3312.0

Region                                                                \
Item       Defunciones esperadas Defunciones esperadas (percentil 1)
2020-05-04                 184.5                              155.14
2020-05-05                 187.0                              156.52
2020-05-06                 188.0                              152.69
2020-05-07                 187.5                              152.69
2020-05-08                 188.0                              152.69
2020-05-09                 184.5                              152.69
2020-05-10                 186.5                              152.69
2020-05-11                 188.0                              148.59
2020-05-12                 184.0                              148.59
2020-05-13                 183.5                              150.66

Region                                                                  \
Item       Defunciones esperadas (percentil 99) Defunciones observadas
2020-05-04                               213.93                  174.0
2020-05-05                               215.31                  198.0
2020-05-06                               216.62                  168.0
2020-05-07                               216.62                  198.0
2020-05-08                               215.93                  213.0
2020-05-09                               217.31                  171.0
2020-05-10                               217.31                  156.0
2020-05-11                               219.24                  162.0
2020-05-12                               219.24                  193.0
2020-05-13                               218.55                  190.0

Region                                               ...  País Vasco  \
Item       Defunciones observadas (límite inferior)  ... Residencial
2020-05-04                               174.000000  ...        22.0
2020-05-05                               198.000000  ...        23.0
2020-05-06                               168.000000  ...        23.0
2020-05-07                               196.721604  ...        23.0
2020-05-08                               212.672121  ...        27.0
2020-05-09                               170.673198  ...        21.0
2020-05-10                               155.658577  ...        20.0
2020-05-11                               161.665064  ...        20.0
2020-05-12                               192.617710  ...        21.0
2020-05-13                               189.648968  ...        22.0

Region                                                                    \
Item       Venta minorista, ocio y cultura Insolación Temperatura máxima
2020-05-04                           -76.0   8.100000          30.190909
2020-05-05                           -75.0  10.466667          23.709091
2020-05-06                           -75.0  12.466667          22.718182
2020-05-07                           -76.0   6.166667          23.636364
2020-05-08                           -79.0   5.450000          27.554545
2020-05-09                           -85.0   7.016667          23.718182
2020-05-10                           -87.0   0.583333          16.463636
2020-05-11                           -66.0   1.950000          17.536364
2020-05-12                           -65.0   1.166667          14.618182
2020-05-13                           -66.0   1.366667          16.672727

Region                                                                     \
Item       Temperatura media Temperatura mínima Transporte público    UCI
2020-05-04         21.981818          13.781818              -52.0  554.0
2020-05-05         18.400000          13.090909              -50.0  556.0
2020-05-06         17.072727          11.436364              -50.0  559.0
2020-05-07         18.000000          12.372727              -50.0  561.0
2020-05-08         21.636364          15.763636              -55.0  566.0
2020-05-09         18.763636          13.827273              -59.0  568.0
2020-05-10         14.436364          12.427273              -73.0  571.0
2020-05-11         13.963636          10.400000              -48.0  573.0
2020-05-12         12.390909          10.145455              -45.0  574.0
2020-05-13         13.763636          10.854545              -47.0  575.0

Region
Item       Velocidad viento Lugar de trabajo
2020-05-04         4.045455            -54.0
2020-05-05         2.700000            -54.0
2020-05-06         2.430000            -54.0
2020-05-07         2.090909            -54.0
2020-05-08         3.109091            -54.0
2020-05-09         2.927273            -49.0
2020-05-10         4.890909            -54.0
2020-05-11         4.890909            -48.0
2020-05-12         1.963636            -49.0
2020-05-13         1.918182            -49.0

[10 rows x 583 columns]

### Testing geographical requests

In [10]:
print('Testing geographical requests...')

all_regions = Regions.get_regions('ES')

datasources = COnVIDa.get_items_by_datasource(DataType.GEOGRAPHICAL)
all_data_items = []
for data_items in datasources.values():
    all_data_items += data_items

Testing geographical requests...

In [11]:
data = convida_server.get_data_items(data_items=[all_data_items[0]],
                              regions=[all_regions[0]])
display(data.head(2))
display(data.tail(2))

Item,Actividad física (Nivel alto),Actividad física (Nivel bajo),Actividad física (Nivel moderado),Actividad física (No consta)
Region,,,,
Andalucía,1207.9,2558.3,2206.7,0.0

Item,Actividad física (Nivel alto),Actividad física (Nivel bajo),Actividad física (Nivel moderado),Actividad física (No consta)
Region,,,,
Andalucía,1207.9,2558.3,2206.7,0.0

In [12]:
data = convida_server.get_data_items(data_items=all_data_items,
                              regions=[all_regions[0]])
display(data.head(2))
display(data.tail(2))

Item,Actividad física (Nivel alto),Actividad física (Nivel bajo),Actividad física (Nivel moderado),Actividad física (No consta),Hogares por densidad de ocupación (60 m2 o más por ocupante),Hogares por densidad de ocupación (Entre 10 y menos de 20 m2 por ocupante),Hogares por densidad de ocupación (Entre 20 y menos de 30 m2 por ocupante),Hogares por densidad de ocupación (Entre 30 y menos de 60 m2 por ocupante),Hogares por densidad de ocupación (Menos de 10 m2 por ocupante),Hogares por tipo de familia (1 persona),...,"Mayores de 65 años solos (65 años o más, Viudo/a)","Mayores de 65 años solos (Menos de 65 años, Casado/a)","Mayores de 65 años solos (Menos de 65 años, Divorciado/a)","Mayores de 65 años solos (Menos de 65 años, Separado/a)","Mayores de 65 años solos (Menos de 65 años, Soltero/a)","Mayores de 65 años solos (Menos de 65 años, Viudo/a)",Tabaquismo (Exfumador),Tabaquismo (Fumador diario),Tabaquismo (Fumador ocasional),Tabaquismo (Nunca ha fumado)
Region,,,,,,,,,,,,,,,,,,,,,
Andalucía,1207.9,2558.3,2206.7,0.0,1309.5,1259.2,2471.483333,3266.9,39.833333,731.866667,...,210.55,33.566667,63.1,23.233333,282.416667,25.483333,18.55,27.09,3.11,51.25

Item,Actividad física (Nivel alto),Actividad física (Nivel bajo),Actividad física (Nivel moderado),Actividad física (No consta),Hogares por densidad de ocupación (60 m2 o más por ocupante),Hogares por densidad de ocupación (Entre 10 y menos de 20 m2 por ocupante),Hogares por densidad de ocupación (Entre 20 y menos de 30 m2 por ocupante),Hogares por densidad de ocupación (Entre 30 y menos de 60 m2 por ocupante),Hogares por densidad de ocupación (Menos de 10 m2 por ocupante),Hogares por tipo de familia (1 persona),...,"Mayores de 65 años solos (65 años o más, Viudo/a)","Mayores de 65 años solos (Menos de 65 años, Casado/a)","Mayores de 65 años solos (Menos de 65 años, Divorciado/a)","Mayores de 65 años solos (Menos de 65 años, Separado/a)","Mayores de 65 años solos (Menos de 65 años, Soltero/a)","Mayores de 65 años solos (Menos de 65 años, Viudo/a)",Tabaquismo (Exfumador),Tabaquismo (Fumador diario),Tabaquismo (Fumador ocasional),Tabaquismo (Nunca ha fumado)
Region,,,,,,,,,,,,,,,,,,,,,
Andalucía,1207.9,2558.3,2206.7,0.0,1309.5,1259.2,2471.483333,3266.9,39.833333,731.866667,...,210.55,33.566667,63.1,23.233333,282.416667,25.483333,18.55,27.09,3.11,51.25

In [13]:
data = convida_server.get_data_items(data_items=[all_data_items[0]],
                              regions=all_regions)
display(data.head(2))
display(data.tail(2))

Item,Actividad física (Nivel alto),Actividad física (Nivel bajo),Actividad física (Nivel moderado),Actividad física (No consta)
Region,,,,
Andalucía,1207.9,2558.3,2206.7,0.0
Aragón,98.7,400.2,403.2,1.1

Item,Actividad física (Nivel alto),Actividad física (Nivel bajo),Actividad física (Nivel moderado),Actividad física (No consta)
Region,,,,
Navarra,179.0,99.1,168.7,0.0
País Vasco,378.9,349.4,760.6,0.0

In [14]:
data = convida_server.get_data_items(data_items=all_data_items,
                              regions=all_regions)
display(data.head(2))
display(data.tail(2))

Item,Actividad física (Nivel alto),Actividad física (Nivel bajo),Actividad física (Nivel moderado),Actividad física (No consta),Hogares por densidad de ocupación (60 m2 o más por ocupante),Hogares por densidad de ocupación (Entre 10 y menos de 20 m2 por ocupante),Hogares por densidad de ocupación (Entre 20 y menos de 30 m2 por ocupante),Hogares por densidad de ocupación (Entre 30 y menos de 60 m2 por ocupante),Hogares por densidad de ocupación (Menos de 10 m2 por ocupante),Hogares por tipo de familia (1 persona),...,"Mayores de 65 años solos (65 años o más, Viudo/a)","Mayores de 65 años solos (Menos de 65 años, Casado/a)","Mayores de 65 años solos (Menos de 65 años, Divorciado/a)","Mayores de 65 años solos (Menos de 65 años, Separado/a)","Mayores de 65 años solos (Menos de 65 años, Soltero/a)","Mayores de 65 años solos (Menos de 65 años, Viudo/a)",Tabaquismo (Exfumador),Tabaquismo (Fumador diario),Tabaquismo (Fumador ocasional),Tabaquismo (Nunca ha fumado)
Region,,,,,,,,,,,,,,,,,,,,,
Andalucía,1207.9,2558.3,2206.7,0.0,1309.500000,1259.20,2471.483333,3266.900000,39.833333,731.866667,...,210.550000,33.566667,63.100000,23.233333,282.416667,25.483333,18.55,27.09,3.11,51.25
Aragón,98.7,400.2,403.2,1.1,233.833333,192.25,369.700000,497.283333,3.766667,145.833333,...,45.133333,7.516667,10.166667,4.500000,54.616667,4.366667,26.54,25.87,1.44,46.15

Item,Actividad física (Nivel alto),Actividad física (Nivel bajo),Actividad física (Nivel moderado),Actividad física (No consta),Hogares por densidad de ocupación (60 m2 o más por ocupante),Hogares por densidad de ocupación (Entre 10 y menos de 20 m2 por ocupante),Hogares por densidad de ocupación (Entre 20 y menos de 30 m2 por ocupante),Hogares por densidad de ocupación (Entre 30 y menos de 60 m2 por ocupante),Hogares por densidad de ocupación (Menos de 10 m2 por ocupante),Hogares por tipo de familia (1 persona),...,"Mayores de 65 años solos (65 años o más, Viudo/a)","Mayores de 65 años solos (Menos de 65 años, Casado/a)","Mayores de 65 años solos (Menos de 65 años, Divorciado/a)","Mayores de 65 años solos (Menos de 65 años, Separado/a)","Mayores de 65 años solos (Menos de 65 años, Soltero/a)","Mayores de 65 años solos (Menos de 65 años, Viudo/a)",Tabaquismo (Exfumador),Tabaquismo (Fumador diario),Tabaquismo (Fumador ocasional),Tabaquismo (Nunca ha fumado)
Region,,,,,,,,,,,,,,,,,,,,,
Navarra,179.0,99.1,168.7,0.0,119.216667,62.166667,187.700000,261.050000,1.833333,67.683333,...,17.1,3.133333,4.416667,1.733333,30.1,1.833333,14.08,23.34,2.61,59.97
País Vasco,378.9,349.4,760.6,0.0,302.333333,352.433333,702.366667,780.166667,5.433333,244.033333,...,72.3,8.833333,18.316667,6.383333,99.1,8.066667,23.48,23.31,3.82,49.39

## TESTING UPDATE

In [15]:
%%time
convida_server.daily_update()
convida_server.init_log()
convida_server.load_data()

Wall time: 28.9 ms

### AFTER UPDATE: Testing temporal requests

In [16]:
print('Testing temporal requests...')

all_regions = Regions.get_regions('ES')

datasources = COnVIDa.get_items_by_datasource(DataType.TEMPORAL)
all_data_items = []
for data_items in datasources.values():
    all_data_items += data_items
    
start_date = pd.to_datetime('2020-01-01', format='%Y-%m-%d')
print('START DATE: ', start_date)
end_date = pd.to_datetime(pd.to_datetime('today').strftime(format='%Y-%m-%d'))

print('END DATE: ', end_date)

Testing temporal requests...
START DATE:  2020-01-01 00:00:00
END DATE:  2020-06-04 00:00:00

In [17]:
data = convida_server.get_data_items(data_items=[all_data_items[0]],
                              regions=[all_regions[0]],
                              start_date=start_date,
                              end_date=end_date)
display(data.head(2))
display(data.tail(15))

Region         Andalucía
Item       Precipitación
2020-01-01      0.002632
2020-01-02      0.027027

Region         Andalucía
Item       Precipitación
2020-05-21      0.000000
2020-05-22      0.000000
2020-05-23      0.000000
2020-05-24      0.000000
2020-05-25      0.000000
2020-05-26      0.000000
2020-05-27      0.005556
2020-05-28      0.000000
2020-05-29      0.000000
2020-05-30      0.005882
2020-05-31      1.234286
2020-06-01           NaN
2020-06-02           NaN
2020-06-03           NaN
2020-06-04           NaN

In [18]:
data = convida_server.get_data_items(data_items=all_data_items,
                              regions=[all_regions[0]],
                              start_date=start_date,
                              end_date=end_date)
display(data.head(2))
display(data.tail(8))

Region     Andalucía                                                     \
Item           Altas     Altitud Casos Confirmados PCR Confirmados test
2020-01-01       NaN  300.615385   NaN             NaN              NaN
2020-01-02       NaN  300.615385   NaN             NaN              NaN

Region                                                                \
Item       Defunciones esperadas Defunciones esperadas (percentil 1)
2020-01-01                 219.5                              182.76
2020-01-02                 223.0                              182.76

Region                                                                  \
Item       Defunciones esperadas (percentil 99) Defunciones observadas
2020-01-01                               315.17                  175.0
2020-01-02                               311.03                  243.0

Region                                               ...              \
Item       Defunciones observadas (límite inferior)  ... Residencial
2020-01-01                                    175.0  ...         NaN
2020-01-02                                    243.0  ...         NaN

Region                                                                    \
Item       Venta minorista, ocio y cultura Insolación Temperatura máxima
2020-01-01                             NaN   7.233333          17.527778
2020-01-02                             NaN   6.521429          16.327027

Region                                                                  \
Item       Temperatura media Temperatura mínima Transporte público UCI
2020-01-01         11.336111           5.150000                NaN NaN
2020-01-02         10.727027           5.118919                NaN NaN

Region
Item       Velocidad viento Lugar de trabajo
2020-01-01         1.528571              NaN
2020-01-02         1.547222              NaN

[2 rows x 31 columns]

Region     Andalucía                                                     \
Item           Altas     Altitud Casos Confirmados PCR Confirmados test
2020-05-28       NaN  295.810811   NaN             NaN              NaN
2020-05-29       NaN  295.810811   NaN             NaN              NaN
2020-05-30       NaN  295.810811   NaN             NaN              NaN
2020-05-31       NaN  295.810811   NaN             NaN              NaN
2020-06-01       NaN         NaN   NaN             NaN              NaN
2020-06-02       NaN         NaN   NaN             NaN              NaN
2020-06-03       NaN         NaN   NaN             NaN              NaN
2020-06-04       NaN         NaN   NaN             NaN              NaN

Region                                                                \
Item       Defunciones esperadas Defunciones esperadas (percentil 1)
2020-05-28                 179.5                              152.21
2020-05-29                 179.5                              149.45
2020-05-30                 180.0                              149.45
2020-05-31                 181.0                              149.45
2020-06-01                 180.0                              144.76
2020-06-02                 178.0                              142.00
2020-06-03                 176.5                              142.00
2020-06-04                   NaN                                 NaN

Region                                                                  \
Item       Defunciones esperadas (percentil 99) Defunciones observadas
2020-05-28                               211.79                  189.0
2020-05-29                               218.00                  165.0
2020-05-30                               210.41                  209.0
2020-05-31                               211.10                  171.0
2020-06-01                               211.10                  172.0
2020-06-02                               211.10                  194.0
2020-06-03                               211.10                  176.0
2020-06-04                                  NaN                    NaN

Region                                               ...              \
Item       Defunciones observadas (límite inferior)  ... Residencial
2020-05-28                               186.315432  ...        13.0
2020-05-29                               162.061798  ...        13.0
2020-05-30                               204.399622  ...         NaN
2020-05-31                               167.675945  ...         NaN
2020-06-01                               166.245211  ...         NaN
2020-06-02                               182.679156  ...         NaN
2020-06-03                               148.666218  ...         NaN
2020-06-04                                      NaN  ...         NaN

Region                                                                    \
Item       Venta minorista, ocio y cultura Insolación Temperatura máxima
2020-05-28                           -41.0  11.821429          28.989189
2020-05-29                           -43.0  11.807143          29.791892
2020-05-30                             NaN  10.992857          29.335135
2020-05-31                             NaN   4.584615          27.354054
2020-06-01                             NaN        NaN                NaN
2020-06-02                             NaN        NaN                NaN
2020-06-03                             NaN        NaN                NaN
2020-06-04                             NaN        NaN                NaN

Region                                                                  \
Item       Temperatura media Temperatura mínima Transporte público UCI
2020-05-28         23.045946          17.100000              -47.0 NaN
2020-05-29         22.981081          16.175676              -47.0 NaN
2020-05-30         22.664865          16.016216                NaN NaN
2020-05-31         21.456757          15.556757                NaN NaN
2020-06-01               NaN                NaN                NaN NaN
2020-06-02               NaN                NaN                NaN NaN
2020-06-03               NaN                NaN                NaN NaN
2020-06-04               NaN                NaN                NaN NaN

Region
Item       Velocidad viento Lugar de trabajo
2020-05-28         4.451429            -39.0
2020-05-29         3.034286            -37.0
2020-05-30         3.554286              NaN
2020-05-31         3.151429              NaN
2020-06-01              NaN              NaN
2020-06-02              NaN              NaN
2020-06-03              NaN              NaN
2020-06-04              NaN              NaN

[8 rows x 31 columns]

In [19]:
data = convida_server.get_data_items(data_items=[all_data_items[0]],
                              regions=all_regions,
                              start_date=start_date,
                              end_date=end_date)
display(data.head(2))
display(data.tail(8))

Region,Andalucía,Aragón,Asturias,Baleares,C. Valenciana,Canarias,Cantabria,Castilla La Mancha,Castilla y León,Cataluña,Ceuta,Extremadura,Galicia,La Rioja,Madrid,Melilla,Murcia,Navarra,País Vasco
Item,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación
2020-01-01,0.002632,0.0,0.0,0.0,0.026667,0.0,0.00,0.025000,0.000000,0.000000,0.0,0.054545,0.009091,0.0,0.016667,0.0,0.0,0.0,0.000000
2020-01-02,0.027027,0.0,0.0,0.0,0.013333,0.0,0.02,0.068421,0.003704,0.005882,0.0,0.018182,1.033333,0.0,0.000000,0.0,0.0,0.0,0.009091

Region,Andalucía,Aragón,Asturias,Baleares,C. Valenciana,Canarias,Cantabria,Castilla La Mancha,Castilla y León,Cataluña,Ceuta,Extremadura,Galicia,La Rioja,Madrid,Melilla,Murcia,Navarra,País Vasco
Item,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación
2020-05-28,0.000000,0.083333,0.000000,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.0,0.000000,0.064286,0.0,0.0,0.0,0.05,0.000,0.00
2020-05-29,0.000000,0.000000,0.027273,0.0,0.000000,0.000000,0.00,0.019048,0.000000,1.100000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.00,0.080,0.00
2020-05-30,0.005882,0.000000,2.233333,0.0,0.000000,0.000000,0.00,0.000000,0.295000,0.015385,0.0,0.563636,0.007143,0.0,0.0,0.0,0.00,0.000,0.00
2020-05-31,1.234286,8.758333,1.566667,0.0,0.086667,0.017647,3.65,1.680000,6.677273,1.054545,13.0,0.000000,4.775000,0.7,12.3,0.0,0.00,1.225,0.42
2020-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-06-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
data = convida_server.get_data_items(data_items=all_data_items,
                              regions=all_regions,
                              start_date=start_date,
                              end_date=end_date)
display(data.head(2))
display(data.tail(8))

Region     Andalucía                                                     \
Item           Altas     Altitud Casos Confirmados PCR Confirmados test
2020-01-01       NaN  300.615385   NaN             NaN              NaN
2020-01-02       NaN  300.615385   NaN             NaN              NaN

Region                                                                \
Item       Defunciones esperadas Defunciones esperadas (percentil 1)
2020-01-01                 219.5                              182.76
2020-01-02                 223.0                              182.76

Region                                                                  \
Item       Defunciones esperadas (percentil 99) Defunciones observadas
2020-01-01                               315.17                  175.0
2020-01-02                               311.03                  243.0

Region                                               ...  País Vasco  \
Item       Defunciones observadas (límite inferior)  ... Residencial
2020-01-01                                    175.0  ...         NaN
2020-01-02                                    243.0  ...         NaN

Region                                                                    \
Item       Venta minorista, ocio y cultura Insolación Temperatura máxima
2020-01-01                             NaN   3.200000          11.366667
2020-01-02                             NaN   3.366667          12.375000

Region                                                                  \
Item       Temperatura media Temperatura mínima Transporte público UCI
2020-01-01          7.441667           3.541667                NaN NaN
2020-01-02          7.183333           1.975000                NaN NaN

Region
Item       Velocidad viento Lugar de trabajo
2020-01-01         1.375000              NaN
2020-01-02         2.716667              NaN

[2 rows x 583 columns]

Region     Andalucía                                                     \
Item           Altas     Altitud Casos Confirmados PCR Confirmados test
2020-05-28       NaN  295.810811   NaN             NaN              NaN
2020-05-29       NaN  295.810811   NaN             NaN              NaN
2020-05-30       NaN  295.810811   NaN             NaN              NaN
2020-05-31       NaN  295.810811   NaN             NaN              NaN
2020-06-01       NaN         NaN   NaN             NaN              NaN
2020-06-02       NaN         NaN   NaN             NaN              NaN
2020-06-03       NaN         NaN   NaN             NaN              NaN
2020-06-04       NaN         NaN   NaN             NaN              NaN

Region                                                                \
Item       Defunciones esperadas Defunciones esperadas (percentil 1)
2020-05-28                 179.5                              152.21
2020-05-29                 179.5                              149.45
2020-05-30                 180.0                              149.45
2020-05-31                 181.0                              149.45
2020-06-01                 180.0                              144.76
2020-06-02                 178.0                              142.00
2020-06-03                 176.5                              142.00
2020-06-04                   NaN                                 NaN

Region                                                                  \
Item       Defunciones esperadas (percentil 99) Defunciones observadas
2020-05-28                               211.79                  189.0
2020-05-29                               218.00                  165.0
2020-05-30                               210.41                  209.0
2020-05-31                               211.10                  171.0
2020-06-01                               211.10                  172.0
2020-06-02                               211.10                  194.0
2020-06-03                               211.10                  176.0
2020-06-04                                  NaN                    NaN

Region                                               ...  País Vasco  \
Item       Defunciones observadas (límite inferior)  ... Residencial
2020-05-28                               186.315432  ...        12.0
2020-05-29                               162.061798  ...        13.0
2020-05-30                               204.399622  ...         NaN
2020-05-31                               167.675945  ...         NaN
2020-06-01                               166.245211  ...         NaN
2020-06-02                               182.679156  ...         NaN
2020-06-03                               148.666218  ...         NaN
2020-06-04                                      NaN  ...         NaN

Region                                                                    \
Item       Venta minorista, ocio y cultura Insolación Temperatura máxima
2020-05-28                           -35.0  13.466667          29.209091
2020-05-29                           -36.0  13.700000          26.454545
2020-05-30                             NaN  13.450000          26.918182
2020-05-31                             NaN   6.783333          27.245455
2020-06-01                             NaN        NaN                NaN
2020-06-02                             NaN        NaN                NaN
2020-06-03                             NaN        NaN                NaN
2020-06-04                             NaN        NaN                NaN

Region                                                                  \
Item       Temperatura media Temperatura mínima Transporte público UCI
2020-05-28         21.945455          14.672727              -25.0 NaN
2020-05-29         20.327273          14.200000              -24.0 NaN
2020-05-30         19.963636          13.063636                NaN NaN
2020-05-31         21.463636          15.663636                NaN NaN
2020-06-01               NaN                NaN                NaN NaN
2020-06-02               NaN                NaN                NaN NaN
2020-06-03               NaN                NaN                NaN NaN
2020-06-04               NaN                NaN                NaN NaN

Region
Item       Velocidad viento Lugar de trabajo
2020-05-28         2.881818            -39.0
2020-05-29         2.618182            -38.0
2020-05-30         2.509091              NaN
2020-05-31         2.627273              NaN
2020-06-01              NaN              NaN
2020-06-02              NaN              NaN
2020-06-03              NaN              NaN
2020-06-04              NaN              NaN

[8 rows x 583 columns]

In [21]:
data.tail(30)

Region     Andalucía                                                        \
Item           Altas     Altitud    Casos Confirmados PCR Confirmados test
2020-05-06    7679.0  295.810811  14593.0         12190.0           2403.0
2020-05-07    8076.0  295.810811  14824.0         12222.0           2602.0
2020-05-08    8435.0  295.810811  15002.0         12239.0           2763.0
2020-05-09    8779.0  295.810811  15180.0         12250.0           2930.0
2020-05-10    9020.0  295.810811  15355.0         12267.0           3088.0
2020-05-11    9205.0  295.810811  15422.0         12285.0           3137.0
2020-05-12    9297.0  303.944444  15522.0         12293.0           3229.0
2020-05-13    9481.0  311.714286  15629.0         12317.0           3312.0
2020-05-14    9918.0  311.714286  15823.0         12359.0           3464.0
2020-05-15   10148.0  311.714286  16068.0         12401.0           3667.0
2020-05-16   10319.0  300.971429  16263.0         12420.0           3843.0
2020-05-17   10611.0  300.971429  16432.0         12450.0           3982.0
2020-05-18   10671.0  303.944444  16457.0         12458.0           3999.0
2020-05-19       NaN  303.944444  16488.0         12489.0           3999.0
2020-05-20       NaN  295.810811  16501.0         12502.0           3999.0
2020-05-21       NaN  308.026316  16546.0         12547.0           3999.0
2020-05-22       NaN  308.026316      NaN         12576.0              NaN
2020-05-23       NaN  295.810811      NaN         12597.0              NaN
2020-05-24       NaN  295.810811      NaN         12600.0              NaN
2020-05-25       NaN  295.810811      NaN             NaN              NaN
2020-05-26       NaN  295.810811      NaN             NaN              NaN
2020-05-27       NaN  295.810811      NaN             NaN              NaN
2020-05-28       NaN  295.810811      NaN             NaN              NaN
2020-05-29       NaN  295.810811      NaN             NaN              NaN
2020-05-30       NaN  295.810811      NaN             NaN              NaN
2020-05-31       NaN  295.810811      NaN             NaN              NaN
2020-06-01       NaN         NaN      NaN             NaN              NaN
2020-06-02       NaN         NaN      NaN             NaN              NaN
2020-06-03       NaN         NaN      NaN             NaN              NaN
2020-06-04       NaN         NaN      NaN             NaN              NaN

Region                                                                \
Item       Defunciones esperadas Defunciones esperadas (percentil 1)
2020-05-06                 188.0                              152.69
2020-05-07                 187.5                              152.69
2020-05-08                 188.0                              152.69
2020-05-09                 184.5                              152.69
2020-05-10                 186.5                              152.69
2020-05-11                 188.0                              148.59
2020-05-12                 184.0                              148.59
2020-05-13                 183.5                              150.66
2020-05-14                 184.0                              145.83
2020-05-15                 184.0                              145.83
2020-05-16                 183.5                              145.83
2020-05-17                 184.0                              145.83
2020-05-18                 183.5                              150.07
2020-05-19                 183.0                              150.07
2020-05-20                 182.5                              144.90
2020-05-21                 182.5                              146.97
2020-05-22                 182.0                              147.66
2020-05-23                 182.0                              147.66
2020-05-24                 178.5                              147.66
2020-05-25                 181.0                              147.66
2020-05-26                 181.0                              149.73
2020-05-27                 180.5                              155.00
2020-05-28                 179.5                              152.21
2020-05-29                 179.5                              149.45
2020-05-30                 180.0                              149.45
2020-05-31                 181.0                              149.45
2020-06-01                 180.0                              144.76
2020-06-02                 178.0                              142.00
2020-06-03                 176.5                              142.00
2020-06-04                   NaN                                 NaN

Region                                                                  \
Item       Defunciones esperadas (percentil 99) Defunciones observadas
2020-05-06                               216.62                  168.0
2020-05-07                               216.62                  198.0
2020-05-08                               215.93                  213.0
2020-05-09                               217.31                  171.0
2020-05-10                               217.31                  156.0
2020-05-11                               219.24                  162.0
2020-05-12                               219.24                  193.0
2020-05-13                               218.55                  190.0
2020-05-14                               218.55                  179.0
2020-05-15                               218.55                  163.0
2020-05-16                               218.55                  159.0
2020-05-17                               218.55                  150.0
2020-05-18                               210.10                  160.0
2020-05-19                               210.10                  177.0
2020-05-20                               210.10                  197.0
2020-05-21                               218.62                  168.0
2020-05-22                               218.62                  196.0
2020-05-23                               218.62                  190.0
2020-05-24                               218.62                  189.0
2020-05-25                               218.62                  179.0
2020-05-26                               218.62                  190.0
2020-05-27                               218.62                  178.0
2020-05-28                               211.79                  189.0
2020-05-29                               218.00                  165.0
2020-05-30                               210.41                  209.0
2020-05-31                               211.10                  171.0
2020-06-01                               211.10                  172.0
2020-06-02                               211.10                  194.0
2020-06-03                               211.10                  176.0
2020-06-04                                  NaN                    NaN

Region                                               ...  País Vasco  \
Item       Defunciones observadas (límite inferior)  ... Residencial
2020-05-06                               168.000000  ...        23.0
2020-05-07                               196.721604  ...        23.0
2020-05-08                               212.672121  ...        27.0
2020-05-09                               170.673198  ...        21.0
2020-05-10                               155.658577  ...        20.0
2020-05-11                               161.665064  ...        20.0
2020-05-12                               192.617710  ...        21.0
2020-05-13                               189.648968  ...        22.0
2020-05-14                               178.646946  ...        21.0
2020-05-15                               162.602129  ...        24.0
2020-05-16                               157.586413  ...        18.0
2020-05-17                               148.563959  ...        15.0
2020-05-18                               158.564949  ...        16.0
2020-05-19                               175.571511  ...        16.0
2020-05-20                               195.576710  ...        17.0
2020-05-21                               166.528469  ...        17.0
2020-05-22                               195.335840  ...        19.0
2020-05-23                               189.262911  ...        16.0
2020-05-24                               188.292462  ...        12.0
2020-05-25                               177.194510  ...        13.0
2020-05-26                               187.967196  ...        13.0
2020-05-27                               176.751481  ...        13.0
2020-05-28                               186.315432  ...        12.0
2020-05-29                               162.061798  ...        13.0
2020-05-30                               204.399622  ...         NaN
2020-05-31                               167.675945  ...         NaN
2020-06-01                               166.245211  ...         NaN
2020-06-02                               182.679156  ...         NaN
2020-06-03                               148.666218  ...         NaN
2020-06-04                                      NaN  ...         NaN

Region                                                                    \
Item       Venta minorista, ocio y cultura Insolación Temperatura máxima
2020-05-06                           -75.0  12.466667          22.718182
2020-05-07                           -76.0   6.166667          23.636364
2020-05-08                           -79.0   5.450000          27.554545
2020-05-09                           -85.0   7.016667          23.718182
2020-05-10                           -87.0   0.583333          16.463636
2020-05-11                           -66.0   1.950000          17.536364
2020-05-12                           -65.0   1.166667          14.618182
2020-05-13                           -66.0   1.366667          16.672727
2020-05-14                           -68.0   0.000000          14.272727
2020-05-15                           -67.0   1.133333          15.027273
2020-05-16                           -72.0   3.333333          17.272727
2020-05-17                           -65.0  12.066667          18.681818
2020-05-18                           -54.0  12.800000          20.263636
2020-05-19                           -53.0  13.233333          22.072727
2020-05-20                           -51.0  13.283333          24.627273
2020-05-21                           -52.0  12.583333          25.245455
2020-05-22                           -55.0   5.916667          22.800000
2020-05-23                           -66.0   1.983333          16.945455
2020-05-24                           -57.0   8.800000          19.063636
2020-05-25                           -35.0   5.983333          21.318182
2020-05-26                           -35.0  11.333333          22.200000
2020-05-27                           -35.0  12.216667          24.272727
2020-05-28                           -35.0  13.466667          29.209091
2020-05-29                           -36.0  13.700000          26.454545
2020-05-30                             NaN  13.450000          26.918182
2020-05-31                             NaN   6.783333          27.245455
2020-06-01                             NaN        NaN                NaN
2020-06-02                             NaN        NaN                NaN
2020-06-03                             NaN        NaN                NaN
2020-06-04                             NaN        NaN                NaN

Region                                                                     \
Item       Temperatura media Temperatura mínima Transporte público    UCI
2020-05-06         17.072727          11.436364              -50.0  559.0
2020-05-07         18.000000          12.372727              -50.0  561.0
2020-05-08         21.636364          15.763636              -55.0  566.0
2020-05-09         18.763636          13.827273              -59.0  568.0
2020-05-10         14.436364          12.427273              -73.0  571.0
2020-05-11         13.963636          10.400000              -48.0  573.0
2020-05-12         12.390909          10.145455              -45.0  574.0
2020-05-13         13.763636          10.854545              -47.0  575.0
2020-05-14         13.054545          11.836364              -49.0  577.0
2020-05-15         13.018182          11.018182              -46.0  578.0
2020-05-16         13.818182          10.381818              -42.0  578.0
2020-05-17         13.636364           8.627273              -42.0  578.0
2020-05-18         14.309091           8.327273              -34.0  578.0
2020-05-19         15.854545           9.645455              -35.0  578.0
2020-05-20         17.409091          10.245455              -36.0  578.0
2020-05-21         18.609091          11.936364              -34.0  578.0
2020-05-22         18.790909          14.772727              -37.0  578.0
2020-05-23         14.100000          11.254545              -43.0  578.0
2020-05-24         14.690909          10.345455              -38.0  578.0
2020-05-25         16.845455          12.372727              -27.0    NaN
2020-05-26         16.936364          11.672727              -27.0    NaN
2020-05-27         18.027273          11.736364              -28.0    NaN
2020-05-28         21.945455          14.672727              -25.0    NaN
2020-05-29         20.327273          14.200000              -24.0    NaN
2020-05-30         19.963636          13.063636                NaN    NaN
2020-05-31         21.463636          15.663636                NaN    NaN
2020-06-01               NaN                NaN                NaN    NaN
2020-06-02               NaN                NaN                NaN    NaN
2020-06-03               NaN                NaN                NaN    NaN
2020-06-04               NaN                NaN                NaN    NaN

Region
Item       Velocidad viento Lugar de trabajo
2020-05-06         2.430000            -54.0
2020-05-07         2.090909            -54.0
2020-05-08         3.109091            -54.0
2020-05-09         2.927273            -49.0
2020-05-10         4.890909            -54.0
2020-05-11         4.890909            -48.0
2020-05-12         1.963636            -49.0
2020-05-13         1.918182            -49.0
2020-05-14         2.527273            -49.0
2020-05-15         3.081818            -49.0
2020-05-16         4.390909            -40.0
2020-05-17         3.027273            -39.0
2020-05-18         2.563636            -45.0
2020-05-19         2.536364            -45.0
2020-05-20         2.327273            -44.0
2020-05-21         2.100000            -45.0
2020-05-22         2.827273            -44.0
2020-05-23         3.481818            -34.0
2020-05-24         3.690909            -31.0
2020-05-25         2.190909            -41.0
2020-05-26         3.154545            -39.0
2020-05-27         2.200000            -38.0
2020-05-28         2.881818            -39.0
2020-05-29         2.618182            -38.0
2020-05-30         2.509091              NaN
2020-05-31         2.627273              NaN
2020-06-01              NaN              NaN
2020-06-02              NaN              NaN
2020-06-03              NaN              NaN
2020-06-04              NaN              NaN

[30 rows x 583 columns]

### Testing geographical requests

In [22]:
print('Testing geographical requests...')

all_regions = Regions.get_regions('ES')

datasources = COnVIDa.get_items_by_datasource(DataType.GEOGRAPHICAL, language='EN')
all_data_items = []
for data_items in datasources.values():
    all_data_items += data_items

Testing geographical requests...

In [23]:
data = convida_server.get_data_items(data_items=[all_data_items[0]],
                              regions=[all_regions[0]],language='EN')
display(data.head(2))
display(data.tail(2))

Item,Physical activity (Nivel alto),Physical activity (Nivel bajo),Physical activity (Nivel moderado),Physical activity (No consta)
Region,,,,
Andalucía,1207.9,2558.3,2206.7,0.0

Item,Physical activity (Nivel alto),Physical activity (Nivel bajo),Physical activity (Nivel moderado),Physical activity (No consta)
Region,,,,
Andalucía,1207.9,2558.3,2206.7,0.0

In [24]:
data = convida_server.get_data_items(data_items=all_data_items,
                              regions=[all_regions[0]],language='EN')
display(data.head(2))
display(data.tail(2))

Item,Physical activity (Nivel alto),Physical activity (Nivel bajo),Physical activity (Nivel moderado),Physical activity (No consta),Households by occupancy density (60 m2 o más por ocupante),Households by occupancy density (Entre 10 y menos de 20 m2 por ocupante),Households by occupancy density (Entre 20 y menos de 30 m2 por ocupante),Households by occupancy density (Entre 30 y menos de 60 m2 por ocupante),Households by occupancy density (Menos de 10 m2 por ocupante),Households by family type (1 persona),...,"Over 65 years old alone (65 años o más, Viudo/a)","Over 65 years old alone (Menos de 65 años, Casado/a)","Over 65 years old alone (Menos de 65 años, Divorciado/a)","Over 65 years old alone (Menos de 65 años, Separado/a)","Over 65 years old alone (Menos de 65 años, Soltero/a)","Over 65 years old alone (Menos de 65 años, Viudo/a)",Tobacco consumption (Exfumador),Tobacco consumption (Fumador diario),Tobacco consumption (Fumador ocasional),Tobacco consumption (Nunca ha fumado)
Region,,,,,,,,,,,,,,,,,,,,,
Andalucía,1207.9,2558.3,2206.7,0.0,1309.5,1259.2,2471.483333,3266.9,39.833333,731.866667,...,210.55,33.566667,63.1,23.233333,282.416667,25.483333,18.55,27.09,3.11,51.25

Item,Physical activity (Nivel alto),Physical activity (Nivel bajo),Physical activity (Nivel moderado),Physical activity (No consta),Households by occupancy density (60 m2 o más por ocupante),Households by occupancy density (Entre 10 y menos de 20 m2 por ocupante),Households by occupancy density (Entre 20 y menos de 30 m2 por ocupante),Households by occupancy density (Entre 30 y menos de 60 m2 por ocupante),Households by occupancy density (Menos de 10 m2 por ocupante),Households by family type (1 persona),...,"Over 65 years old alone (65 años o más, Viudo/a)","Over 65 years old alone (Menos de 65 años, Casado/a)","Over 65 years old alone (Menos de 65 años, Divorciado/a)","Over 65 years old alone (Menos de 65 años, Separado/a)","Over 65 years old alone (Menos de 65 años, Soltero/a)","Over 65 years old alone (Menos de 65 años, Viudo/a)",Tobacco consumption (Exfumador),Tobacco consumption (Fumador diario),Tobacco consumption (Fumador ocasional),Tobacco consumption (Nunca ha fumado)
Region,,,,,,,,,,,,,,,,,,,,,
Andalucía,1207.9,2558.3,2206.7,0.0,1309.5,1259.2,2471.483333,3266.9,39.833333,731.866667,...,210.55,33.566667,63.1,23.233333,282.416667,25.483333,18.55,27.09,3.11,51.25

In [25]:
data = convida_server.get_data_items(data_items=[all_data_items[0]],
                              regions=all_regions, language='EN')
display(data.head(2))
display(data.tail(2))

Item,Physical activity (Nivel alto),Physical activity (Nivel bajo),Physical activity (Nivel moderado),Physical activity (No consta)
Region,,,,
Andalucía,1207.9,2558.3,2206.7,0.0
Aragón,98.7,400.2,403.2,1.1

Item,Physical activity (Nivel alto),Physical activity (Nivel bajo),Physical activity (Nivel moderado),Physical activity (No consta)
Region,,,,
Navarra,179.0,99.1,168.7,0.0
País Vasco,378.9,349.4,760.6,0.0

In [26]:
data = convida_server.get_data_items(data_items=all_data_items,
                              regions=all_regions, language='EN')
display(data.head(2))
display(data.tail(2))

Item,Physical activity (Nivel alto),Physical activity (Nivel bajo),Physical activity (Nivel moderado),Physical activity (No consta),Households by occupancy density (60 m2 o más por ocupante),Households by occupancy density (Entre 10 y menos de 20 m2 por ocupante),Households by occupancy density (Entre 20 y menos de 30 m2 por ocupante),Households by occupancy density (Entre 30 y menos de 60 m2 por ocupante),Households by occupancy density (Menos de 10 m2 por ocupante),Households by family type (1 persona),...,"Over 65 years old alone (65 años o más, Viudo/a)","Over 65 years old alone (Menos de 65 años, Casado/a)","Over 65 years old alone (Menos de 65 años, Divorciado/a)","Over 65 years old alone (Menos de 65 años, Separado/a)","Over 65 years old alone (Menos de 65 años, Soltero/a)","Over 65 years old alone (Menos de 65 años, Viudo/a)",Tobacco consumption (Exfumador),Tobacco consumption (Fumador diario),Tobacco consumption (Fumador ocasional),Tobacco consumption (Nunca ha fumado)
Region,,,,,,,,,,,,,,,,,,,,,
Andalucía,1207.9,2558.3,2206.7,0.0,1309.500000,1259.20,2471.483333,3266.900000,39.833333,731.866667,...,210.550000,33.566667,63.100000,23.233333,282.416667,25.483333,18.55,27.09,3.11,51.25
Aragón,98.7,400.2,403.2,1.1,233.833333,192.25,369.700000,497.283333,3.766667,145.833333,...,45.133333,7.516667,10.166667,4.500000,54.616667,4.366667,26.54,25.87,1.44,46.15

Item,Physical activity (Nivel alto),Physical activity (Nivel bajo),Physical activity (Nivel moderado),Physical activity (No consta),Households by occupancy density (60 m2 o más por ocupante),Households by occupancy density (Entre 10 y menos de 20 m2 por ocupante),Households by occupancy density (Entre 20 y menos de 30 m2 por ocupante),Households by occupancy density (Entre 30 y menos de 60 m2 por ocupante),Households by occupancy density (Menos de 10 m2 por ocupante),Households by family type (1 persona),...,"Over 65 years old alone (65 años o más, Viudo/a)","Over 65 years old alone (Menos de 65 años, Casado/a)","Over 65 years old alone (Menos de 65 años, Divorciado/a)","Over 65 years old alone (Menos de 65 años, Separado/a)","Over 65 years old alone (Menos de 65 años, Soltero/a)","Over 65 years old alone (Menos de 65 años, Viudo/a)",Tobacco consumption (Exfumador),Tobacco consumption (Fumador diario),Tobacco consumption (Fumador ocasional),Tobacco consumption (Nunca ha fumado)
Region,,,,,,,,,,,,,,,,,,,,,
Navarra,179.0,99.1,168.7,0.0,119.216667,62.166667,187.700000,261.050000,1.833333,67.683333,...,17.1,3.133333,4.416667,1.733333,30.1,1.833333,14.08,23.34,2.61,59.97
País Vasco,378.9,349.4,760.6,0.0,302.333333,352.433333,702.366667,780.166667,5.433333,244.033333,...,72.3,8.833333,18.316667,6.383333,99.1,8.066667,23.48,23.31,3.82,49.39