In [1]:
from convida import COnVIDa
from datatype import DataType
from regions import Regions
import pandas as pd

## Testing

In [2]:
COnVIDa.get_data_types()

['DataType.TEMPORAL', 'DataType.GEOGRAPHICAL']

In [3]:
COnVIDa.get_items_by_datasource(DataType.TEMPORAL)

{'AEMETDataSource': ['Precipitación',
  'Presión máxima',
  'Presión mínima',
  'Racha máxima',
  'Insolación',
  'Temperatura máxima',
  'Temperatura media',
  'Temperatura mínima',
  'Velocidad viento',
  'Altitud',
  'Dirección racha'],
 'COVID19DataSource': ['Altas',
  'Casos',
  'Confirmados PCR',
  'Confirmados test',
  'Fallecidos',
  'Hospitalizados',
  'UCI'],
 'MobilityDataSource': ['Supermercados y farmacias',
  'Parques',
  'Residencial',
  'Venta minorista, ocio y cultura',
  'Transporte público',
  'Lugar de trabajo',
  'Conducción'],
 'MoMoDataSource': ['Defunciones observadas',
  'Defunciones observadas (límite inferior)',
  'Defunciones observadas (límite superior)',
  'Defunciones esperadas',
  'Defunciones esperadas (percentil 1)',
  'Defunciones esperadas (percentil 99)']}

In [4]:
COnVIDa.get_items_by_datasource(DataType.GEOGRAPHICAL)

{'INEDataSource': ['Actividad física',
  'Índice de masa corporal (IMC)',
  'Tabaquismo',
  'Hogares por tipo de familia',
  'Hogares por densidad de ocupación',
  'Mayores de 65 años solos']}

In [5]:
print(COnVIDa.get_descriptions_by_datasource(DataType.GEOGRAPHICAL))
print(COnVIDa.get_descriptions_by_datasource(DataType.GEOGRAPHICAL, 'EN'))

{'INEDataSource': ['Nivel de actividad física según sexo y comunidad autónoma. Población de 15 a 69 años', 'Índice de masa corporal población adulta según sexo y comunidad autónoma. Población de 18 y más años', 'Consumo de tabaco según sexo y comunidad autónoma. Población de 15 y más años', 'Número de hogares por comunidades autónomas según el tipo de hogar y el tamaño del hogar', 'Población residente por comunidades autónomas según tamaño del hogar y densidad de población', 'Número de hogares unipersonales con mayores de 65 años por comunidades autónomas según sexo']}
{'INEDataSource': ['Level of physical activity by sex and autonomous community. Population from 15 to 69 years old', 'Body mass index of adult population by sex and autonomous community. Population aged 18 years old and above', 'Tobacco consumption by sex and autonomous community. Population aged 15 years old and above', 'Number of households by autonomous community by type of household and size of household', 'Resident population by autonomous communities, household size and population density', 'Number of single-person households with inhabitants aged over 65 years old by autonomous community and sex']}

In [6]:
print(COnVIDa.get_descriptions_by_datasource(DataType.TEMPORAL))
print(COnVIDa.get_descriptions_by_datasource(DataType.TEMPORAL, 'EN'))

{'AEMETDataSource': ['Precipitación diaria de 07 a 07', 'Presión máxima al nivel de referencia de la estación', 'Presión mínima al nivel de referencia de la estación', 'Racha máxima del viento', 'Horas de sol fuerte', 'Temperatura máxima del día', 'Temperatura media del día', 'Temperatura mínima del día', 'Velocidad media del viento', 'Altitud de la estación en m sobre el nivel del mar', 'Dirección de la racha máxima'], 'COVID19DataSource': ['Acumulado del número de personas curadas registradas por Comunidad Autónoma', 'Acumulado del número de casos confirmados totales (PCR + test de anticuerpos) registrados por Comunidad Autónoma', 'Acumulado del número de casos confirmados registrados mediante una prueba PCR por Comunidad Autónoma', 'Acumulado del número de casos confirmados registrados por un test rápido por Comunidad Autónoma', 'Acumulado del número de fallecidos registrados por Comunidad Autónoma', 'Acumulado del número de pacientes que han precisado hospitalización (incluye UCI) por Comunidad Autónoma', 'Acumulado del número de pacientes que han precisado ingreso en la UCI registrados por Comunidad Autónoma'], 'MobilityDataSource': ['Variación de la movilidad con respecto a la media en supermercados, mercados, tiendas de comestibles, droguerías y farmacias', 'Variación de la movilidad con respecto a la media en parques locales, parques nacionales, playas públicas, marinas, parques para perros, plazas y jardines públicos', 'Variación de la movilidad con respecto a la media en lugares de residencia, hogares', 'Variación de la movilidad con respecto a la media en restaurantes, cafeterías, centros comerciales, parques temáticos, museos, bibliotecas y cines', 'Variación de la movilidad con respecto a la media en estaciones de metro, autobús y tren', 'Variación de la movilidad con respecto a la media en lugares de trabajo', 'Variación de la movilidad con respecto a la media en desplazamientos con vehículos propios'], 'MoMoDataSource': ['Defunciones observadas (incluye la corrección por retraso)', 'Límite inferior del invervalo de confianza de las defunciones observadas (debido a la corrección)', 'Límite superior del invervalo de confianza de las defunciones observadas (debido a la corrección)', 'Defunciones esperadas, resultantes del modelo', 'Límite inferior del intervalo de confianza de las defunciones esperadas, correspondiente al percentil 1 de la distribución', 'Límite superior del intervalo de confianza de las defunciones esperadas, correspondiente al percentil 99 de la distribución']}
{'AEMETDataSource': ['Daily rainfall from 07 to 07', 'Maximum pressure at station reference level', 'Minimum pressure at station reference level', 'Maximum wind gust', 'Hours of strong sunshine', 'Maximum daily temperature', 'Medium daily temperature', 'Minimum daily temperature', 'Average wind speed', 'Altitude of the station in m above the sea level', 'Direction of maximum wind gust'], 'COVID19DataSource': ['Accumulated number of recovered persons registered by Autonomous Community', 'Accumulated number of total confirmed cases (PCR +  antibodies test) registered by Autonomous Community', 'Cumulative number of confirmed cases recorded by PCR test by Autonomous Community', 'Cumulative number of confirmed cases recorded by rapid test by Autonomous Community', 'Cumulative number of registered deaths by Autonomous Community', 'Cumulative number of patients requiring hospitalization (including ICU) by Autonomous Community', 'Cumulative number of patients requiring ICU admission registered by Autonomous Community'], 'MobilityDataSource': ['Mobility variation against the average in supermarkets, markets, stores and pharmacies', 'Mobility variation against the average in local parks, national parks, public beaches, dog beaches, public squares and gardens', 'Mobility variation against the average in places of residence, homes', 'Mobility variation against the average in restaurants, cafes, shopping malls, theme parks, museums, libraries and cinemas', 'Mobility variation against the average in subway, bus and train stations', 'Mobility variation against the average in workplaces', 'Mobility variation against the average when travelling with own vehicles'], 'MoMoDataSource': ['Observed deaths (including delay correction)', 'Lower bound of the observed death confidence interval (due to correction)', 'Upper bound of the observed death confidence interval (due to correction)', 'Expected deaths, resulting from the model', 'Lower bound of the confidence interval of expected deaths, corresponding to the 1st percentile of the distribution', 'Upper bound of the confidence interval of expected deaths, corresponding to the 99th percentile of the distribution']}

In [7]:
print(COnVIDa.get_units_by_datasource(DataType.GEOGRAPHICAL))
print(COnVIDa.get_units_by_datasource(DataType.GEOGRAPHICAL, 'EN'))

{'INEDataSource': ['Miles de personas', '', 'Miles de personas', 'Miles de hogares', 'Miles de personas', 'Miles de hogares unipersonales']}
{'INEDataSource': ['Thousands of persons', '', 'Thousands of persons', 'Thousands of households', 'Thousands of persons', 'Thousands of single-person households']}

In [8]:
print(COnVIDa.get_units_by_datasource(DataType.TEMPORAL))
print(COnVIDa.get_units_by_datasource(DataType.TEMPORAL, 'EN'))

{'AEMETDataSource': ['Milímetros (mm)', 'Hectopascales (hPa)', 'Hectopascales (hPa)', 'Metros por segundo (m/s)', 'Horas (h)', 'Grados Celsius (°C)', 'Grados Celsius (°C)', 'Grados Celsius (°C)', 'Metros por segundo (m/s)', 'Metros (m)', 'Decenas de grado (°)'], 'COVID19DataSource': ['Número de personas', 'Número de personas', 'Número de personas', 'Número de personas', 'Número de personas', 'Número de personas', 'Número de personas'], 'MobilityDataSource': ['Porcentaje (%)', 'Porcentaje (%)', 'Porcentaje (%)', 'Porcentaje (%)', 'Porcentaje (%)', 'Porcentaje (%)', 'Porcentaje (%)'], 'MoMoDataSource': ['Número de personas', 'Número de personas', 'Número de personas', 'Número de personas', 'Número de personas', 'Número de personas']}
{'AEMETDataSource': ['Millimetres (mm)', 'Hectopascals (hPa)', 'Hectopascals (hPa)', 'Meters per second (m/s)', 'Hours (h)', 'Celsius degrees (°C)', 'Celsius Degrees (°C)', 'Celsius degrees (°C)', 'Meters per second (m/s)', 'Meters (m)', 'Tens of degrees (°)'], 'COVID19DataSource': ['Number of persons', 'Number of persons', 'Number of persons', 'Number of persons', 'Number of persons', 'Number of persons', 'Number of persons'], 'MobilityDataSource': ['Percentage (%)', 'Percentage (%)', 'Percentage (%)', 'Percentage (%)', 'Percentage (%)', 'Percentage (%)', 'Percentage (%)'], 'MoMoDataSource': ['Number of persons', 'Number of persons', 'Number of persons', 'Number of persons', 'Number of persons', 'Number of persons']}

In [9]:
Regions.get_regions('ES')

['Andalucía',
 'Aragón',
 'Asturias',
 'Baleares',
 'Canarias',
 'Cantabria',
 'Castilla La Mancha',
 'Castilla y León',
 'Cataluña',
 'Ceuta',
 'C. Valenciana',
 'Extremadura',
 'Galicia',
 'Madrid',
 'Melilla',
 'Murcia',
 'Navarra',
 'País Vasco',
 'La Rioja']

### 3.1 COVID testing

In [10]:
start = pd.to_datetime('2020-05-01', format='%Y-%m-%d')
end = pd.to_datetime('today', format='%Y-%m-%d')

data_items = COnVIDa.get_items_by_datasource()['COVID19DataSource']

regions = Regions.get_regions('ES')

In [11]:
data = COnVIDa.get_data_items(regions=[regions[0]],
                              data_items=[data_items[0]], 
                              start_date=start, 
                              end_date=end)
display(data.tail(5))

Assumed a TEMPORAL data retrieval...

Region     Andalucía
Item           Altas
2020-05-31       NaN
2020-06-01       NaN
2020-06-02       NaN
2020-06-03       NaN
2020-06-04       NaN

In [12]:
data = COnVIDa.get_data_items(regions=regions[0:5],
                              data_items=[data_items[0]], 
                              start_date=start, 
                              end_date=end)
display(data.tail(2))

Assumed a TEMPORAL data retrieval...

Region     Andalucía Aragón Asturias Baleares Canarias
Item           Altas  Altas    Altas    Altas    Altas
2020-06-03       NaN    NaN      NaN      NaN      NaN
2020-06-04       NaN    NaN      NaN      NaN      NaN

In [13]:
data.sample(5)

Region     Andalucía  Aragón Asturias Baleares Canarias
Item           Altas   Altas    Altas    Altas    Altas
2020-05-04    7021.0  2624.0    917.0   1294.0   1166.0
2020-05-01    6334.0  2382.0    860.0   1245.0   1149.0
2020-05-31       NaN     NaN      NaN      NaN      NaN
2020-05-08    8435.0  2953.0    983.0   1374.0   1318.0
2020-05-25       NaN     NaN      NaN      NaN      NaN

In [14]:
data = COnVIDa.get_data_items(regions=[regions[0]],
                              data_items=data_items[0:5], 
                              start_date=start, 
                              end_date=end)
display(data.tail(2))

Assumed a TEMPORAL data retrieval...

Region     Andalucía
Item           Altas Casos Confirmados PCR Confirmados test Fallecidos
2020-06-03       NaN   NaN             NaN              NaN        NaN
2020-06-04       NaN   NaN             NaN              NaN        NaN

In [15]:
data = COnVIDa.get_data_items(regions=regions,
                              data_items=data_items, 
                              start_date=start, 
                              end_date=end)
display(data.tail(2))

Assumed a TEMPORAL data retrieval...

Region     Andalucía                                                    \
Item           Altas Casos Confirmados PCR Confirmados test Fallecidos
2020-06-03       NaN   NaN             NaN              NaN        NaN
2020-06-04       NaN   NaN             NaN              NaN        NaN

Region                        Aragón                        ...    Navarra  \
Item       Hospitalizados UCI  Altas Casos Confirmados PCR  ... Fallecidos
2020-06-03            NaN NaN    NaN   NaN             NaN  ...        NaN
2020-06-04            NaN NaN    NaN   NaN             NaN  ...        NaN

Region                        País Vasco                        \
Item       Hospitalizados UCI      Altas Casos Confirmados PCR
2020-06-03            NaN NaN        NaN   NaN             NaN
2020-06-04            NaN NaN        NaN   NaN             NaN

Region
Item       Confirmados test Fallecidos Hospitalizados UCI
2020-06-03              NaN        NaN            NaN NaN
2020-06-04              NaN        NaN            NaN NaN

[2 rows x 133 columns]

### 3.2 INE testing

In [16]:
data_items = COnVIDa.get_items_by_datasource()['INEDataSource']

regions = Regions.get_regions('ES')

In [17]:
data = COnVIDa.get_data_items(regions=[regions[0]],
                              data_items=[data_items[0]], 
                              start_date=start, 
                              end_date=end)

Assumed a TEMPORAL data retrieval...
WARNING. Item Actividad física is not TEMPORAL data
WARNING: No result found for the specified data items and conditions

In [18]:
data = COnVIDa.get_data_items(regions=[regions[0]],
                              data_items=[data_items[0]])
display(data.tail(3))

Assumed a GEOGRAPHICAL data retrieval...

Item,Actividad física (Nivel alto),Actividad física (Nivel bajo),Actividad física (Nivel moderado),Actividad física (No consta)
Region,,,,
Andalucía,1207.9,2558.3,2206.7,0.0

In [19]:
data = COnVIDa.get_data_items(regions=regions[0:5],
                              data_items=[data_items[0]])
display(data.tail(2))

Assumed a GEOGRAPHICAL data retrieval...

Item,Actividad física (Nivel alto),Actividad física (Nivel bajo),Actividad física (Nivel moderado),Actividad física (No consta)
Region,,,,
Baleares,171.1,295.6,369.6,0.0
Canarias,431.9,745.7,421.1,0.0

In [20]:
data = COnVIDa.get_data_items(regions=[regions[0]],
                              data_items=data_items[0:5])
display(data.tail(2))

Assumed a GEOGRAPHICAL data retrieval...

Item,Actividad física (Nivel alto),Actividad física (Nivel bajo),Actividad física (Nivel moderado),Actividad física (No consta),Hogares por densidad de ocupación (60 m2 o más por ocupante),Hogares por densidad de ocupación (Entre 10 y menos de 20 m2 por ocupante),Hogares por densidad de ocupación (Entre 20 y menos de 30 m2 por ocupante),Hogares por densidad de ocupación (Entre 30 y menos de 60 m2 por ocupante),Hogares por densidad de ocupación (Menos de 10 m2 por ocupante),Hogares por tipo de familia (1 persona),...,Hogares por tipo de familia (7 personas),Hogares por tipo de familia (8 personas o más),"Índice de masa corporal (IMC) (Normopeso (18,5 kg/m2 <=IMC<25 kg/m2))",Índice de masa corporal (IMC) (Obesidad (IMC>=30 kg/m2)),"Índice de masa corporal (IMC) (Peso insuficiente (IMC<18,5 kg/m2))",Índice de masa corporal (IMC) (Sobrepeso (25 kg/m2 <=IMC<30 kg/m2)),Tabaquismo (Exfumador),Tabaquismo (Fumador diario),Tabaquismo (Fumador ocasional),Tabaquismo (Nunca ha fumado)
Region,,,,,,,,,,,,,,,,,,,,,
Andalucía,1207.9,2558.3,2206.7,0.0,1309.5,1259.2,2471.483333,3266.9,39.833333,731.866667,...,8.816667,4.166667,41.53,19.9,1.44,37.13,18.55,27.09,3.11,51.25

In [21]:
data = COnVIDa.get_data_items(regions=regions,
                              data_items=data_items)
display(data.tail(2))

Assumed a GEOGRAPHICAL data retrieval...

Item,Actividad física (Nivel alto),Actividad física (Nivel bajo),Actividad física (Nivel moderado),Actividad física (No consta),Hogares por densidad de ocupación (60 m2 o más por ocupante),Hogares por densidad de ocupación (Entre 10 y menos de 20 m2 por ocupante),Hogares por densidad de ocupación (Entre 20 y menos de 30 m2 por ocupante),Hogares por densidad de ocupación (Entre 30 y menos de 60 m2 por ocupante),Hogares por densidad de ocupación (Menos de 10 m2 por ocupante),Hogares por tipo de familia (1 persona),...,"Mayores de 65 años solos (65 años o más, Viudo/a)","Mayores de 65 años solos (Menos de 65 años, Casado/a)","Mayores de 65 años solos (Menos de 65 años, Divorciado/a)","Mayores de 65 años solos (Menos de 65 años, Separado/a)","Mayores de 65 años solos (Menos de 65 años, Soltero/a)","Mayores de 65 años solos (Menos de 65 años, Viudo/a)",Tabaquismo (Exfumador),Tabaquismo (Fumador diario),Tabaquismo (Fumador ocasional),Tabaquismo (Nunca ha fumado)
Region,,,,,,,,,,,,,,,,,,,,,
Navarra,179.0,99.1,168.7,0.0,119.216667,62.166667,187.700000,261.050000,1.833333,67.683333,...,17.1,3.133333,4.416667,1.733333,30.1,1.833333,14.08,23.34,2.61,59.97
País Vasco,378.9,349.4,760.6,0.0,302.333333,352.433333,702.366667,780.166667,5.433333,244.033333,...,72.3,8.833333,18.316667,6.383333,99.1,8.066667,23.48,23.31,3.82,49.39

### 3.3 Mobility testing

In [22]:
start = pd.to_datetime('2020-05-01', format='%Y-%m-%d')
end = pd.to_datetime('today', format='%Y-%m-%d')

data_items = COnVIDa.get_items_by_datasource()['MobilityDataSource']

regions = Regions.get_regions('ES')

In [23]:
data = COnVIDa.get_data_items(regions=[regions[0]],
                              data_items=[data_items[0]], 
                              start_date=start, 
                              end_date=end, errors='raise')
display(data.sample(5))

Assumed a TEMPORAL data retrieval...

Region                     Andalucía
Item       Supermercados y farmacias
2020-05-23                     -23.0
2020-06-03                       NaN
2020-06-04                       NaN
2020-05-31                       NaN
2020-05-07                     -38.0

In [24]:
data = COnVIDa.get_data_items(regions=regions[0:5],
                              data_items=[data_items[0]], 
                              start_date=start, 
                              end_date=end, errors='raise')
display(data.sample(2))

Assumed a TEMPORAL data retrieval...

Region,Andalucía,Aragón,Asturias,Baleares,Canarias
Item,Supermercados y farmacias,Supermercados y farmacias,Supermercados y farmacias,Supermercados y farmacias,Supermercados y farmacias
2020-05-16,-31.0,-23.0,-21.0,-24.0,-33.0
2020-05-14,-37.0,-27.0,-24.0,-25.0,-33.0

In [25]:
data = COnVIDa.get_data_items(regions=[regions[0]],
                              data_items=data_items[0:5], 
                              start_date=start, 
                              end_date=end, errors='raise')
display(data.sample(2))

Assumed a TEMPORAL data retrieval...

Region                     Andalucía                      \
Item       Supermercados y farmacias Parques Residencial
2020-05-28                     -16.0   -14.0        13.0
2020-05-16                     -31.0   -42.0        15.0

Region
Item       Venta minorista, ocio y cultura Transporte público
2020-05-28                           -41.0              -47.0
2020-05-16                           -73.0              -59.0

In [26]:
data = COnVIDa.get_data_items(regions=regions,
                              data_items=data_items, 
                              start_date=start, 
                              end_date=end, errors='raise')
display(data.sample(2))

Assumed a TEMPORAL data retrieval...

Region      Andalucía                                                \
Item       Conducción Supermercados y farmacias Parques Residencial
2020-05-31      52.23                       NaN     NaN         NaN
2020-05-29      69.10                     -17.0   -11.0        13.0

Region                                                         \
Item       Venta minorista, ocio y cultura Transporte público
2020-05-31                             NaN                NaN
2020-05-29                           -43.0              -47.0

Region                          Aragón                                    ...  \
Item       Lugar de trabajo Conducción Supermercados y farmacias Parques  ...
2020-05-31              NaN      71.58                       NaN     NaN  ...
2020-05-29            -37.0      87.12                     -10.0    25.0  ...

Region                             Navarra                     \
Item       Venta minorista, ocio y cultura Transporte público
2020-05-31                             NaN                NaN
2020-05-29                           -35.0              -51.0

Region                      País Vasco                                    \
Item       Lugar de trabajo Conducción Supermercados y farmacias Parques
2020-05-31              NaN      72.45                       NaN     NaN
2020-05-29            -35.0      96.12                      -1.0    80.0

Region                                                                     \
Item       Residencial Venta minorista, ocio y cultura Transporte público
2020-05-31         NaN                             NaN                NaN
2020-05-29        13.0                           -36.0              -24.0

Region
Item       Lugar de trabajo
2020-05-31              NaN
2020-05-29            -38.0

[2 rows x 127 columns]

### 3.4 MoMo testing

In [27]:
start = pd.to_datetime('2020-05-01', format='%Y-%m-%d')
end = pd.to_datetime('today', format='%Y-%m-%d')

data_items = COnVIDa.get_items_by_datasource()['MoMoDataSource']

regions = Regions.get_regions('ES')

In [28]:
data = COnVIDa.get_data_items(regions=[regions[0]],
                              data_items=[data_items[0]], 
                              start_date=start, 
                              end_date=end)
display(data.tail(5))

Assumed a TEMPORAL data retrieval...

Region                  Andalucía
Item       Defunciones observadas
2020-05-31                  171.0
2020-06-01                  172.0
2020-06-02                  194.0
2020-06-03                  176.0
2020-06-04                    NaN

In [29]:
data = COnVIDa.get_data_items(regions=regions[0:5],
                              data_items=[data_items[0]], 
                              start_date=start, 
                              end_date=end)
display(data.tail(2))

Assumed a TEMPORAL data retrieval...

Region,Andalucía,Aragón,Asturias,Baleares,Canarias
Item,Defunciones observadas,Defunciones observadas,Defunciones observadas,Defunciones observadas,Defunciones observadas
2020-06-03,176.0,30.0,35.0,19.0,39.0
2020-06-04,NaN,NaN,NaN,NaN,NaN

In [30]:
data = COnVIDa.get_data_items(regions=[regions[0]],
                              data_items=data_items[0:5], 
                              start_date=start, 
                              end_date=end)
display(data.tail(2))

Assumed a TEMPORAL data retrieval...

Region                 Andalucía                                      \
Item       Defunciones esperadas Defunciones esperadas (percentil 1)
2020-06-03                 176.5                               142.0
2020-06-04                   NaN                                 NaN

Region                                                                      \
Item       Defunciones observadas Defunciones observadas (límite inferior)
2020-06-03                  176.0                               148.666218
2020-06-04                    NaN                                      NaN

Region
Item       Defunciones observadas (límite superior)
2020-06-03                               203.758384
2020-06-04                                      NaN

In [31]:
data = COnVIDa.get_data_items(regions=regions,
                              data_items=data_items, 
                              start_date=start, 
                              end_date=end)
display(data.tail(2))

Assumed a TEMPORAL data retrieval...

Region                 Andalucía                                      \
Item       Defunciones esperadas Defunciones esperadas (percentil 1)
2020-06-03                 176.5                               142.0
2020-06-04                   NaN                                 NaN

Region                                                                  \
Item       Defunciones esperadas (percentil 99) Defunciones observadas
2020-06-03                                211.1                  176.0
2020-06-04                                  NaN                    NaN

Region                                               \
Item       Defunciones observadas (límite inferior)
2020-06-03                               148.666218
2020-06-04                                      NaN

Region                                                             Aragón  \
Item       Defunciones observadas (límite superior) Defunciones esperadas
2020-06-03                               203.758384                  29.0
2020-06-04                                      NaN                   NaN

Region                                          \
Item       Defunciones esperadas (percentil 1)
2020-06-03                               17.38
2020-06-04                                 NaN

Region                                                                  ...  \
Item       Defunciones esperadas (percentil 99) Defunciones observadas  ...
2020-06-03                                44.41                   30.0  ...
2020-06-04                                  NaN                    NaN  ...

Region                                  Navarra                         \
Item       Defunciones esperadas (percentil 99) Defunciones observadas
2020-06-03                                23.31                   15.0
2020-06-04                                  NaN                    NaN

Region                                               \
Item       Defunciones observadas (límite inferior)
2020-06-03                                 7.697677
2020-06-04                                      NaN

Region                                                         País Vasco  \
Item       Defunciones observadas (límite superior) Defunciones esperadas
2020-06-03                                22.539561                  54.0
2020-06-04                                      NaN                   NaN

Region                                          \
Item       Defunciones esperadas (percentil 1)
2020-06-03                               37.59
2020-06-04                                 NaN

Region                                                                  \
Item       Defunciones esperadas (percentil 99) Defunciones observadas
2020-06-03                                70.55                   53.0
2020-06-04                                  NaN                    NaN

Region                                               \
Item       Defunciones observadas (límite inferior)
2020-06-03                                38.005671
2020-06-04                                      NaN

Region
Item       Defunciones observadas (límite superior)
2020-06-03                                68.153186
2020-06-04                                      NaN

[2 rows x 114 columns]

### 3.5 AEMET testing

In [32]:
start = pd.to_datetime('2020-05-01', format='%Y-%m-%d')
end = pd.to_datetime('today', format='%Y-%m-%d')

data_items = COnVIDa.get_items_by_datasource()['AEMETDataSource']

regions = Regions.get_regions('ES')

In [33]:
data = COnVIDa.get_data_items(regions=[regions[0]],
                              data_items=[data_items[0]], 
                              start_date=start, 
                              end_date=end,
                              errors='raise')
display(data.sample(5))

Assumed a TEMPORAL data retrieval...

Region         Andalucía
Item       Precipitación
2020-05-23      0.000000
2020-05-20      0.000000
2020-06-03           NaN
2020-05-08      0.002778
2020-05-05      0.012121

In [34]:
data = COnVIDa.get_data_items(regions=regions[0:5],
                              data_items=[data_items[0]], 
                              start_date=start, 
                              end_date=end,
                              errors='raise')
display(data.sample(2))

Assumed a TEMPORAL data retrieval...

Region,Andalucía,Aragón,Asturias,Baleares,Canarias
Item,Precipitación,Precipitación,Precipitación,Precipitación,Precipitación
2020-05-17,1.084848,0.0,0.0,0.033333,0.0
2020-05-25,0.000000,5.1,0.0,0.170000,0.0

In [35]:
data = COnVIDa.get_data_items(regions=[regions[0]],
                              data_items=data_items[0:5], 
                              start_date=start, 
                              end_date=end)
display(data.sample(2))

Assumed a TEMPORAL data retrieval...

Region         Andalucía
Item       Precipitación Presión máxima Presión mínima Racha máxima Insolación
2020-05-16      3.282353     986.432353     979.894118     8.132353   5.191667
2020-05-06      0.000000     983.697143     979.840000     8.317143  10.876923

In [36]:
data = COnVIDa.get_data_items(regions=regions,
                              data_items=data_items, 
                              start_date=start, 
                              end_date=end)
display(data.sample(2))

Assumed a TEMPORAL data retrieval...

Region       Andalucía                                               \
Item           Altitud Dirección racha Precipitación Presión máxima
2020-05-28  295.810811       15.911765      0.000000     987.322222
2020-05-13  311.714286       27.352941      6.805882     974.779412

Region                                                                \
Item       Presión mínima Racha máxima Insolación Temperatura máxima
2020-05-28     983.122222    11.661765  11.821429          28.989189
2020-05-13     969.714706    12.200000   6.075000          20.834286

Region                                           ...      País Vasco  \
Item       Temperatura media Temperatura mínima  ... Dirección racha
2020-05-28         23.045946          17.100000  ...       35.090909
2020-05-13         15.751429          10.677143  ...       20.818182

Region                                                               \
Item       Precipitación Presión máxima Presión mínima Racha máxima
2020-05-28           0.0       997.1375       991.3625     8.009091
2020-05-13           1.6       981.0750       977.4875     6.681818

Region                                                                         \
Item       Insolación Temperatura máxima Temperatura media Temperatura mínima
2020-05-28  13.466667          29.209091         21.945455          14.672727
2020-05-13   1.366667          16.672727         13.763636          10.854545

Region
Item       Velocidad viento
2020-05-28         2.881818
2020-05-13         1.918182

[2 rows x 209 columns]

### 4. TEMPORAL testing (joining different sources)

In [37]:
start = pd.to_datetime('2020-05-01', format='%Y-%m-%d')
end = pd.to_datetime('today', format='%Y-%m-%d')

In [38]:
data = COnVIDa.get_data_items(regions=['Murcia'],
                              data_items=['Altas', 'Casos', 'Precipitación','Insolación'], 
                              start_date=start,
                              end_date=end)
display(data.sample(5))

Assumed a TEMPORAL data retrieval...

Region      Murcia
Item         Altas   Casos Precipitación Insolación
2020-05-03  1260.0  1974.0           0.0  12.714286
2020-05-29     NaN     NaN           0.0  13.300000
2020-05-18  2180.0  2595.0           0.0  12.785714
2020-05-06  1465.0  2133.0           0.0  10.985714
2020-05-02  1251.0  1966.0           0.0  12.471429

In [39]:
data = COnVIDa.get_data_items(regions=['Murcia','Andalucía'],data_items=['Altas', 'Casos', 'Precipitación','Insolación','Supermercados y farmacias','Conducción','Parques'], start_date=start, end_date=end)
display(data.sample(10))

Assumed a TEMPORAL data retrieval...

Region     Andalucía                                                        \
Item           Altas    Casos Conducción Supermercados y farmacias Parques
2020-05-04    7021.0  14311.0      35.15                     -39.0   -33.0
2020-06-04       NaN      NaN        NaN                       NaN     NaN
2020-05-24       NaN      NaN      47.85                     -34.0   -39.0
2020-05-21       NaN  16546.0      55.25                     -21.0   -18.0
2020-05-27       NaN      NaN      62.35                     -18.0   -14.0
2020-05-20       NaN  16501.0      53.70                     -23.0   -14.0
2020-05-06    7679.0  14593.0      36.56                     -37.0   -32.0
2020-05-15   10148.0  16068.0      43.39                     -29.0   -40.0
2020-05-02    6821.0  14128.0      31.56                     -32.0   -47.0
2020-06-03       NaN      NaN        NaN                       NaN     NaN

Region                               Murcia                     \
Item       Precipitación Insolación   Altas   Casos Conducción
2020-05-04      0.008571  10.123077  1277.0  1974.0      52.36
2020-06-04           NaN        NaN     NaN     NaN        NaN
2020-05-24      0.000000  11.750000     NaN     NaN      75.10
2020-05-21      0.000000  11.984615     NaN  2609.0      73.94
2020-05-27      0.005556  10.671429     NaN     NaN      84.12
2020-05-20      0.000000  11.469231     NaN  2599.0      73.15
2020-05-06      0.000000  10.876923  1465.0  2133.0      51.59
2020-05-15      1.421875   5.445455  2034.0  2477.0      71.80
2020-05-02      0.000000  11.618182  1251.0  1966.0      43.06
2020-06-03           NaN        NaN     NaN     NaN        NaN

Region
Item       Supermercados y farmacias Parques Precipitación Insolación
2020-05-04                     -32.0   -32.0      0.000000  12.100000
2020-06-04                       NaN     NaN           NaN        NaN
2020-05-24                     -29.0   -22.0      0.000000  12.800000
2020-05-21                     -15.0    -8.0      0.000000  12.757143
2020-05-27                     -14.0     6.0      0.000000  12.728571
2020-05-20                     -18.0     0.0      0.000000  12.671429
2020-05-06                     -31.0   -28.0      0.000000  10.985714
2020-05-15                     -18.0   -29.0      0.766667   1.600000
2020-05-02                     -25.0   -45.0      0.000000  12.471429
2020-06-03                       NaN     NaN           NaN        NaN

In [40]:
data = COnVIDa.get_data_items(regions=['Murcia','Andalucía','Madrid'],data_items=['Altas', 'Casos', 'Precipitación','Insolación','Supermercados y farmacias', 'Parques', 'Residencial'], start_date=start, end_date=end)
display(data.sample(10))

Assumed a TEMPORAL data retrieval...

Region     Andalucía                                                           \
Item           Altas    Casos Supermercados y farmacias Parques Precipitación
2020-05-27       NaN      NaN                     -18.0   -14.0      0.005556
2020-05-12    9297.0  15522.0                     -36.0   -44.0      9.854545
2020-05-15   10148.0  16068.0                     -29.0   -40.0      1.421875
2020-05-21       NaN  16546.0                     -21.0   -18.0      0.000000
2020-06-04       NaN      NaN                       NaN     NaN           NaN
2020-05-16   10319.0  16263.0                     -31.0   -42.0      3.282353
2020-05-30       NaN      NaN                       NaN     NaN      0.005882
2020-05-26       NaN      NaN                     -19.0   -12.0      0.000000
2020-06-01       NaN      NaN                       NaN     NaN           NaN
2020-06-03       NaN      NaN                       NaN     NaN           NaN

Region                              Madrid                                     \
Item       Residencial Insolación    Altas    Casos Supermercados y farmacias
2020-05-27        13.0  10.671429      NaN      NaN                     -17.0
2020-05-12        19.0   3.300000  39751.0  70764.0                     -34.0
2020-05-15        21.0   5.445455  40383.0  71616.0                     -51.0
2020-05-21        15.0  11.984615      NaN  72342.0                     -22.0
2020-06-04         NaN        NaN      NaN      NaN                       NaN
2020-05-16        15.0   5.191667  40586.0  71932.0                     -32.0
2020-05-30         NaN  10.992857      NaN      NaN                       NaN
2020-05-26        12.0  11.864286      NaN      NaN                     -17.0
2020-06-01         NaN        NaN      NaN      NaN                       NaN
2020-06-03         NaN        NaN      NaN      NaN                       NaN

Region      ...                                       Murcia          \
Item        ... Precipitación Residencial Insolación   Altas   Casos
2020-05-27  ...      0.000000        22.0  12.600000     NaN     NaN
2020-05-12  ...     15.238462        30.0   0.016667  1819.0  2333.0
2020-05-15  ...      9.184615        38.0   3.150000  2034.0  2477.0
2020-05-21  ...      0.000000        28.0  12.650000     NaN  2609.0
2020-06-04  ...           NaN         NaN        NaN     NaN     NaN
2020-05-16  ...      1.407692        22.0   5.516667  2073.0  2546.0
2020-05-30  ...      0.000000         NaN  11.283333     NaN     NaN
2020-05-26  ...      0.600000        21.0   7.950000     NaN     NaN
2020-06-01  ...           NaN         NaN        NaN     NaN     NaN
2020-06-03  ...           NaN         NaN        NaN     NaN     NaN

Region                                                                  \
Item       Supermercados y farmacias Parques Precipitación Residencial
2020-05-27                     -14.0     6.0      0.000000        11.0
2020-05-12                     -21.0   -19.0      2.777778        15.0
2020-05-15                     -18.0   -29.0      0.766667        17.0
2020-05-21                     -15.0    -8.0      0.000000        14.0
2020-06-04                       NaN     NaN           NaN         NaN
2020-05-16                     -23.0   -28.0      2.000000        12.0
2020-05-30                       NaN     NaN      0.000000         NaN
2020-05-26                     -14.0     4.0      0.200000        11.0
2020-06-01                       NaN     NaN           NaN         NaN
2020-06-03                       NaN     NaN           NaN         NaN

Region
Item       Insolación
2020-05-27  12.728571
2020-05-12   4.516667
2020-05-15   1.600000
2020-05-21  12.757143
2020-06-04        NaN
2020-05-16   7.728571
2020-05-30  13.300000
2020-05-26  10.957143
2020-06-01        NaN
2020-06-03        NaN

[10 rows x 21 columns]

In [41]:
data.head(2)

Region     Andalucía                                                           \
Item           Altas    Casos Supermercados y farmacias Parques Precipitación
2020-05-01    6334.0  13881.0                     -88.0   -72.0           0.0
2020-05-02    6821.0  14128.0                     -32.0   -47.0           0.0

Region                              Madrid                                     \
Item       Residencial Insolación    Altas    Casos Supermercados y farmacias
2020-05-01        36.0  11.125000  37154.0  68356.0                     -87.0
2020-05-02        20.0  11.618182  37530.0  68537.0                     -42.0

Region      ...                                       Murcia          \
Item        ... Precipitación Residencial Insolación   Altas   Casos
2020-05-01  ...          0.15        45.0       7.55  1229.0  1960.0
2020-05-02  ...          0.00        23.0      11.45  1251.0  1966.0

Region                                                                  \
Item       Supermercados y farmacias Parques Precipitación Residencial
2020-05-01                     -86.0   -73.0           0.0        38.0
2020-05-02                     -25.0   -45.0           0.0        20.0

Region
Item       Insolación
2020-05-01  12.057143
2020-05-02  12.471429

[2 rows x 21 columns]

In [42]:
data.tail(2)

Region     Andalucía                                                        \
Item           Altas Casos Supermercados y farmacias Parques Precipitación
2020-06-03       NaN   NaN                       NaN     NaN           NaN
2020-06-04       NaN   NaN                       NaN     NaN           NaN

Region                            Madrid                                  ...  \
Item       Residencial Insolación  Altas Casos Supermercados y farmacias  ...
2020-06-03         NaN        NaN    NaN   NaN                       NaN  ...
2020-06-04         NaN        NaN    NaN   NaN                       NaN  ...

Region                                          Murcia        \
Item       Precipitación Residencial Insolación  Altas Casos
2020-06-03           NaN         NaN        NaN    NaN   NaN
2020-06-04           NaN         NaN        NaN    NaN   NaN

Region                                                                  \
Item       Supermercados y farmacias Parques Precipitación Residencial
2020-06-03                       NaN     NaN           NaN         NaN
2020-06-04                       NaN     NaN           NaN         NaN

Region
Item       Insolación
2020-06-03        NaN
2020-06-04        NaN

[2 rows x 21 columns]

### 5. Internal testing

In [43]:
COnVIDa.get_items_by_datasource(DataType.TEMPORAL,language='internal')

{'AEMETDataSource': ['prec',
  'presMax',
  'presMin',
  'racha',
  'sol',
  'tmax',
  'tmed',
  'tmin',
  'velmedia',
  'altitud',
  'dir'],
 'COVID19DataSource': ['altas',
  'casos',
  'confirmados_pcr',
  'confirmados_test',
  'fallecidos',
  'hospitalizados',
  'uci'],
 'MobilityDataSource': ['grocery_and_pharmacy_percent_change_from_baseline',
  'parks_percent_change_from_baseline',
  'residential_percent_change_from_baseline',
  'retail_and_recreation_percent_change_from_baseline',
  'transit_stations_percent_change_from_baseline',
  'workplaces_percent_change_from_baseline',
  'driving'],
 'MoMoDataSource': ['defunciones_observadas',
  'defunciones_observadas_lim_inf',
  'defunciones_observadas_lim_sup',
  'defunciones_esperadas',
  'defunciones_esperadas_q01',
  'defunciones_esperadas_q99']}

In [44]:
start = pd.to_datetime('2020-03-01', format='%Y-%m-%d')
end = pd.to_datetime('today', format='%Y-%m-%d')

In [45]:
data = COnVIDa.get_data_items(regions=['Murcia'],
                              data_items=['parks_percent_change_from_baseline',
                                          'casos','confirmados_pcr',
                                          'prec',
                                          'presMax',
                                          'defunciones_observadas',
                                          'defunciones_observadas_lim_inf',
                                          'defunciones_observadas_lim_sup',], 
                              start_date=start,
                              end_date=end,
                              language='internal')
display(data.sample(5))

Assumed a TEMPORAL data retrieval...

Region      Murcia                                         \
Item         casos confirmados_pcr defunciones_observadas
2020-04-02  1084.0          1084.0                   35.0
2020-03-12    26.0            26.0                   20.0
2020-04-03  1145.0          1145.0                   37.0
2020-04-10  1367.0          1338.0                   31.0
2020-05-20  2599.0          1560.0                   30.0

Region                                                                    \
Item       defunciones_observadas_lim_inf defunciones_observadas_lim_sup
2020-04-02                           35.0                      35.000000
2020-03-12                           20.0                      20.000000
2020-04-03                           37.0                      37.000000
2020-04-10                           31.0                      31.000000
2020-05-20                           30.0                      30.085337

Region
Item       parks_percent_change_from_baseline      prec     presMax
2020-04-02                              -78.0  2.360000  986.416667
2020-03-12                               -2.0  0.000000  994.600000
2020-04-03                              -81.0  0.022222  990.783333
2020-04-10                              -88.0  0.000000  995.316667
2020-05-20                                0.0  0.000000  989.650000

In [46]:
data = COnVIDa.get_data_items(regions=['Murcia','Andalucía'],
                              data_items=['parks_percent_change_from_baseline',
                                           'casos',
                                           'confirmados_pcr',
                                           'prec',
                                           'presMax',
                                           'defunciones_observadas',
                                           'defunciones_observadas_lim_inf',
                                           'defunciones_observadas_lim_sup'],  
                              start_date=start, 
                              end_date=end,
                              language='internal')
display(data.sample(10))

Assumed a TEMPORAL data retrieval...

Region     Andalucía                                         \
Item           casos confirmados_pcr defunciones_observadas
2020-05-14   15823.0         12359.0                  179.0
2020-05-03   14251.0         12139.0                  173.0
2020-03-20    1287.0          1287.0                  270.0
2020-04-17   11018.0         10635.0                  225.0
2020-06-02       NaN             NaN                  194.0
2020-04-16   10773.0         10557.0                  216.0
2020-05-01   13881.0         12061.0                  196.0
2020-03-12     115.0           115.0                  240.0
2020-04-21   11648.0         11095.0                  199.0
2020-05-16   16263.0         12420.0                  159.0

Region                                                                    \
Item       defunciones_observadas_lim_inf defunciones_observadas_lim_sup
2020-05-14                     178.646946                     180.473157
2020-05-03                     173.000000                     173.000000
2020-03-20                     270.000000                     270.000000
2020-04-17                     225.000000                     225.000000
2020-06-02                     182.679156                     204.811041
2020-04-16                     216.000000                     216.000000
2020-05-01                     196.000000                     196.000000
2020-03-12                     240.000000                     240.000000
2020-04-21                     199.000000                     199.000000
2020-05-16                     157.586413                     159.543487

Region                                                                Murcia  \
Item       parks_percent_change_from_baseline       prec     presMax   casos
2020-05-14                              -55.0   7.452941  975.591176  2437.0
2020-05-03                              -54.0   0.000000  985.377778  1974.0
2020-03-20                              -78.0  13.260000  982.350000   204.0
2020-04-17                              -76.0   0.231429  983.767647  1626.0
2020-06-02                                NaN        NaN         NaN     NaN
2020-04-16                              -75.0   0.785294  984.058824  1590.0
2020-05-01                              -72.0   0.000000  989.708333  1960.0
2020-03-12                                2.0   0.000000  988.929730    26.0
2020-04-21                              -77.0   4.155556  980.082857  1696.0
2020-05-16                              -42.0   3.282353  986.432353  2546.0

Region                                             \
Item       confirmados_pcr defunciones_observadas
2020-05-14          1532.0                   31.0
2020-05-03          1492.0                   29.0
2020-03-20           204.0                   33.0
2020-04-17          1424.0                   32.0
2020-06-02             NaN                   37.0
2020-04-16          1416.0                   32.0
2020-05-01          1488.0                   36.0
2020-03-12            26.0                   20.0
2020-04-21          1445.0                   36.0
2020-05-16          1542.0                   40.0

Region                                                                    \
Item       defunciones_observadas_lim_inf defunciones_observadas_lim_sup
2020-05-14                      31.000000                      31.071324
2020-05-03                      29.000000                      29.000000
2020-03-20                      33.000000                      33.000000
2020-04-17                      32.000000                      32.000000
2020-06-02                      34.161696                      41.235793
2020-04-16                      32.000000                      32.000000
2020-05-01                      36.000000                      36.000000
2020-03-12                      20.000000                      20.000000
2020-04-21                      36.000000                      36.000000
2020-05-16                      40.000000                      40.118676

Region
Item       parks_percent_change_from_baseline    prec     presMax
2020-05-14                              -33.0  4.1900  982.850000
2020-05-03                              -54.0  0.0000  991.283333
2020-03-20                              -78.0  0.0900  990.966667
2020-04-17                              -76.0  0.1400  990.483333
2020-06-02                                NaN     NaN         NaN
2020-04-16                              -72.0  0.6875  991.750000
2020-05-01                              -73.0  0.0000  993.150000
2020-03-12                               -2.0  0.0000  994.600000
2020-04-21                              -71.0  0.5300  981.166667
2020-05-16                              -28.0  2.0000  991.900000

In [47]:
data = COnVIDa.get_data_items(regions=['Murcia','Andalucía','Madrid','Asturias'],
                              data_items=['parks_percent_change_from_baseline',
                                           'casos',
                                           'confirmados_pcr',
                                           'prec',
                                           'presMax',
                                           'defunciones_observadas',
                                           'defunciones_observadas_lim_inf',
                                           'defunciones_observadas_lim_sup'],  
                              start_date=start, 
                              end_date=end,
                              language='internal')
display(data.sample(10))

Assumed a TEMPORAL data retrieval...

Region     Andalucía                                         \
Item           casos confirmados_pcr defunciones_observadas
2020-03-15     437.0           437.0                  206.0
2020-05-08   15002.0         12239.0                  213.0
2020-04-09    9234.0          9234.0                  239.0
2020-05-29       NaN             NaN                  165.0
2020-04-15   10561.0         10392.0                  221.0
2020-03-25    3008.0          3008.0                  274.0
2020-03-19    1008.0          1008.0                  239.0
2020-03-13     219.0           219.0                  217.0
2020-04-05    8279.0          8279.0                  226.0
2020-04-23   12195.0         11358.0                  201.0

Region                                                                    \
Item       defunciones_observadas_lim_inf defunciones_observadas_lim_sup
2020-03-15                     206.000000                     206.000000
2020-05-08                     212.672121                     213.443287
2020-04-09                     239.000000                     239.000000
2020-05-29                     162.061798                     169.251780
2020-04-15                     221.000000                     221.000000
2020-03-25                     274.000000                     274.000000
2020-03-19                     239.000000                     239.000000
2020-03-13                     217.000000                     217.000000
2020-04-05                     226.000000                     226.000000
2020-04-23                     201.000000                     201.000000

Region                                                              Asturias  \
Item       parks_percent_change_from_baseline      prec     presMax    casos
2020-03-15                              -78.0  1.629730  984.581579    123.0
2020-05-08                              -42.0  0.002778  983.205556   3159.0
2020-04-09                              -82.0  3.191667  989.742857   1831.0
2020-05-29                              -11.0  0.000000  984.575000      NaN
2020-04-15                              -78.0  4.220588  985.014706   2194.0
2020-03-25                              -78.0  0.785294  985.542857    812.0
2020-03-19                              -75.0  0.154286  987.110811    310.0
2020-03-13                              -20.0  0.000000  986.891892     40.0
2020-04-05                              -89.0  1.177778  985.788571   1640.0
2020-04-23                              -73.0  0.000000  984.508333   2559.0

Region                      ...     Madrid              Murcia  \
Item       confirmados_pcr  ...       prec     presMax   casos
2020-03-15           123.0  ...   7.533333  911.860000    71.0
2020-05-08          2338.0  ...   0.000000  912.844444  2252.0
2020-04-09          1774.0  ...  11.415385  915.060000  1340.0
2020-05-29             NaN  ...   0.000000  916.200000     NaN
2020-04-15          2089.0  ...  18.800000  910.650000  1528.0
2020-03-25           812.0  ...   0.000000  910.580000   477.0
2020-03-19           310.0  ...   0.283333  916.660000   167.0
2020-03-13            40.0  ...   0.000000  912.790000    35.0
2020-04-05          1627.0  ...   2.892308  912.250000  1235.0
2020-04-23          2241.0  ...   0.069231  913.500000  1721.0

Region                                             \
Item       confirmados_pcr defunciones_observadas
2020-03-15            71.0                   30.0
2020-05-08          1504.0                   25.0
2020-04-09          1322.0                   22.0
2020-05-29             NaN                   23.0
2020-04-15          1400.0                   30.0
2020-03-25           477.0                   41.0
2020-03-19           167.0                   38.0
2020-03-13            35.0                   33.0
2020-04-05          1235.0                   48.0
2020-04-23          1460.0                   25.0

Region                                                                    \
Item       defunciones_observadas_lim_inf defunciones_observadas_lim_sup
2020-03-15                       30.00000                      30.000000
2020-05-08                       25.00000                      25.107864
2020-04-09                       22.00000                      22.000000
2020-05-29                       21.07456                      24.183586
2020-04-15                       30.00000                      30.000000
2020-03-25                       41.00000                      41.000000
2020-03-19                       38.00000                      38.000000
2020-03-13                       33.00000                      33.000000
2020-04-05                       48.00000                      48.000000
2020-04-23                       25.00000                      25.000000

Region
Item       parks_percent_change_from_baseline      prec     presMax
2020-03-15                              -81.0  0.355556  991.783333
2020-05-08                              -42.0  0.000000  989.450000
2020-04-09                              -81.0  0.040000  994.833333
2020-05-29                                0.0  0.000000  992.733333
2020-04-15                              -78.0  2.580000  991.833333
2020-03-25                              -76.0  1.990000  988.566667
2020-03-19                              -83.0  0.000000  995.316667
2020-03-13                              -31.0  0.000000  991.833333
2020-04-05                              -91.0  0.000000  993.316667
2020-04-23                              -70.0  0.000000  992.600000

[10 rows x 32 columns]

In [48]:
data.head(2)

Region     Andalucía                                         \
Item           casos confirmados_pcr defunciones_observadas
2020-03-01      12.0            12.0                  207.0
2020-03-02      12.0            12.0                  199.0

Region                                                                    \
Item       defunciones_observadas_lim_inf defunciones_observadas_lim_sup
2020-03-01                          207.0                          207.0
2020-03-02                          199.0                          199.0

Region                                                              Asturias  \
Item       parks_percent_change_from_baseline      prec     presMax    casos
2020-03-01                               10.0  1.991176  987.641176      1.0
2020-03-02                               -2.0  0.831250  990.322857      1.0

Region                      ...    Madrid         Murcia                  \
Item       confirmados_pcr  ...      prec presMax  casos confirmados_pcr
2020-03-01             1.0  ...  4.853846  908.88    0.0             0.0
2020-03-02             1.0  ...  2.058333  911.16    0.0             0.0

Region                                                            \
Item       defunciones_observadas defunciones_observadas_lim_inf
2020-03-01                   29.0                           29.0
2020-03-02                   22.0                           22.0

Region                                                                        \
Item       defunciones_observadas_lim_sup parks_percent_change_from_baseline
2020-03-01                           29.0                               18.0
2020-03-02                           22.0                              -16.0

Region
Item        prec     presMax
2020-03-01  0.00  988.616667
2020-03-02  0.31  990.800000

[2 rows x 32 columns]

In [49]:
data.tail(2)

Region     Andalucía                                         \
Item           casos confirmados_pcr defunciones_observadas
2020-06-03       NaN             NaN                  176.0
2020-06-04       NaN             NaN                    NaN

Region                                                                    \
Item       defunciones_observadas_lim_inf defunciones_observadas_lim_sup
2020-06-03                     148.666218                     203.758384
2020-06-04                            NaN                            NaN

Region                                                     Asturias  \
Item       parks_percent_change_from_baseline prec presMax    casos
2020-06-03                                NaN  NaN     NaN      NaN
2020-06-04                                NaN  NaN     NaN      NaN

Region                      ... Madrid         Murcia                  \
Item       confirmados_pcr  ...   prec presMax  casos confirmados_pcr
2020-06-03             NaN  ...    NaN     NaN    NaN             NaN
2020-06-04             NaN  ...    NaN     NaN    NaN             NaN

Region                                                            \
Item       defunciones_observadas defunciones_observadas_lim_inf
2020-06-03                   23.0                      13.629864
2020-06-04                    NaN                            NaN

Region                                                                        \
Item       defunciones_observadas_lim_sup parks_percent_change_from_baseline
2020-06-03                      31.718629                                NaN
2020-06-04                            NaN                                NaN

Region
Item       prec presMax
2020-06-03  NaN     NaN
2020-06-04  NaN     NaN

[2 rows x 32 columns]